/* oswald-300 - cyrillic_latin */
@font-face {
  font-family:  'Oswald';
  font-style:   normal;
  font-weight:  300;
  src:          local(''),
                url('../assets/fonts/oswald-v23-cyrillic_latin/oswald-v23-cyrillic_latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
                url('../assets/fonts/oswald-v23-cyrillic_latin/oswald-v23-cyrillic_latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

/* oswald-regular - cyrillic_latin */
@font-face {
  font-family:  'Oswald';
  font-style:   normal;
  font-weight:  400;
  src:          local(''),
                url('../assets/fonts/oswald-v23-cyrillic_latin/oswald-v23-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
                url('../assets/fonts/oswald-v23-cyrillic_latin/oswald-v23-cyrillic_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

/* oswald-500 - cyrillic_latin */
@font-face {
  font-family:  'Oswald';
  font-style:   normal;
  font-weight:  500;
  src:          local(''),
                url('../assets/fonts/oswald-v23-cyrillic_latin/oswald-v23-cyrillic_latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
                url('../assets/fonts/oswald-v23-cyrillic_latin/oswald-v23-cyrillic_latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

/* oswald-700 - cyrillic_latin */
@font-face {
  font-family:  'Oswald';
  font-style:   normal;
  font-weight:  700;
  src:          local(''),
                url('../assets/fonts/oswald-v23-cyrillic_latin/oswald-v23-cyrillic_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
                url('../assets/fonts/oswald-v23-cyrillic_latin/oswald-v23-cyrillic_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}


@font-face {
  font-family:  'HelveticaNeueCyr-black';
  font-style:   normal;
  font-weight:  400;
  src:          local(''),
                url('../assets/fonts/HelveticaNeueCyr/HelveticaBlack.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
                url('../assets/fonts/HelveticaNeueCyr/HelveticaBlack.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

@font-face {
  font-family:  'HelveticaNeueCyr';
  font-style:   normal;
  font-weight:  100;
  src:          local(''),
                url('../assets/fonts/HelveticaNeueCyr/HelveticaThin.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
                url('../assets/fonts/HelveticaNeueCyr/HelveticaThin.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

@font-face {
  font-family:  'HelveticaNeueCyr';
  font-style:   normal;
  font-weight:  300;
  src:          local(''),
                url('../assets/fonts/HelveticaNeueCyr/HelveticaLight.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
                url('../assets/fonts/HelveticaNeueCyr/HelveticaLight.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

@font-face {
  font-family:  'HelveticaNeueCyr';
  font-style:   normal;
  font-weight:  400;
  src:          local(''),
                url('../assets/fonts/HelveticaNeueCyr/HelveticaRegular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
                url('../assets/fonts/HelveticaNeueCyr/HelveticaRegular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

@font-face {
  font-family:  'HelveticaNeueCyr';
  font-style:   normal;
  font-weight:  500;
  src:          local(''),
                url('../assets/fonts/HelveticaNeueCyr/HelveticaMedium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
                url('../assets/fonts/HelveticaNeueCyr/HelveticaMedium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

@font-face {
  font-family:  'HelveticaNeueCyr';
  font-style:   normal;
  font-weight:  700;
  src:          local(''),
                url('../assets/fonts/HelveticaNeueCyr/HelveticaBold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
                url('../assets/fonts/HelveticaNeueCyr/HelveticaBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

@font-face {
  font-family:  'Bristol';
  font-style:   normal;
  font-weight:  400;
  src:          local(''), url('../assets/fonts/bristol/Bristol.otf') format('opentype');
}