// Размеры экрана
$screen-sm: 320px;
$screen-md: 768px;
$screen-lg: 1180px;
$screen-xl: 1440px;

// Переходы
$transition-normal: .25s;
$transition-medium: .15s;
$transition-fast: .1s;

$font-family-1: 'HelveticaNeueCyr', Helvetica, Arial, sans-serif;
$font-family-2: 'Oswald', Helvetica, Arial, sans-serif;
$font-family-3: Merriweather, Helvetica, Arial, sans-serif;

$color-text-default: #111111;
$color-text-light: #555555;
