<section class="question">
  <div class="container">


    <div class="question__bg">
      <div class="question__photo"></div>
      <div class="question__block">
        <div class="question__name">
          <p>Антон Рудой</p>
          <p>Менеджер</p>
        </div>

        <div class="question__contacts">
          <p class="question__title">Отвечу на любые вопросы о пневматике</p>
          <p class="question__text">О мощности, прицельной дальности, возможностях и особенностях каждой модели и многом другом.</p>

          <div class="question__phone">
            <div class="question__img"><img src="assets/img/call-hand.png" alt="Звоните"></div>
            <div class="question__phone-text">
              <p>Звоните:</p>
              <p><span>375 33</span> <span class="mod-phone">356<span class="mod-dash">-</span>95<span class="mod-dash">-</span>87</span></p>
            </div>
          </div>
        </div>
      </div>

      <button class="btn question__btn" type="button" @click="callMeActive = true"><img src="assets/img/icons/arrow.png" alt="arrow">Задать вопрос</button>
    </div>

  </div>
</section>