.question {
  display:        flex;
  flex-direction: column;
  align-items:    center;
  position:       relative;
  margin-bottom:  268px;
  @include w-to(1440px) {
    margin-bottom: 222px;
  }
  @include w-to(1024px) {
    margin-bottom: 175px;
  }
  @include w-to(768px) {
    margin-bottom: 114px;
  }

  .container {
    display:        flex;
    flex-direction: column;
    align-items:    center;
    position:       relative;
  }

  &__photo {
    background:    url("../assets/img/photo-owner-question.png") no-repeat;
    height:        760px;
    $width: 1110px;
    max-width:     $width;
    width:         100%;
    left:          calc(53.1% - #{$width/2});
    position:      absolute;
    z-index:       2;
    top:           -103px;
    transform:     skewY(-1.8deg);
    border-radius: 20px;
    @include w-to(1920px) {
      $width: 1110px;
      left:       calc(53.2% - #{$width/2});
    }
    @include w-to(1440px) {
      $width: 867px;
      max-width:  $width;
      left:       calc(52.6% - #{$width/2});
      background: url(../assets/img/photo-owner-question.png) -66px 128px/636px no-repeat;
      top:        -148px;
    }
    @include w-to(1024px) {
      $width: 759px;
      max-width:     $width;
      left:          calc(57.5% - #{$width/2});
      background:    url(../assets/img/photo-owner-question.png) -80px 149px/612px no-repeat;
      top:           -179px;
      border-radius: 20px;
      transform:     skewY(-2.2deg);
    }
    @include w-to(768px) {
      height: 708px;
      left:       0;
      transform:  skewY(-2.2deg);
      top:        147px;
      background: url(../assets/img/photo-owner-question.png) 0 316px/390px no-repeat;
    }
  }

  &__block {
    width:          100%;
    display:        flex;
    flex-direction: column;
    align-items:    flex-end;
    padding-top:    29px;
    z-index:        2;
    position:       relative;
    @include w-to(1440px) {
      padding-top: 14px;
    }
    @include w-to(768px) {
      height:      100%;
      align-items: center;
      padding-top: 10px;
    }

    &:before {
      position:    absolute;
      left:        0;
      bottom:      -30px;
      content:     '';
      background:  url("../assets/img/label.png") left top no-repeat;
      width:       250px;
      height:      120px;
      margin-left: -30px;
      @include w-to(768px) {
        display: none;
      }
    }
  }

  &__bg {
    @include angle(before, true, 1.5deg);
    background-color: white;
    $width: 1045px;
    max-width:        $width;
    width:            100%;
    height:           642px;
    @include angle(after, false, 1.7deg);

    z-index:          initial;

    display:          flex;
    flex-direction:   column;
    align-items:      center;
    margin-left: -66px;

    @include w-to(1440px) {
      $width: 825px;
      max-width: $width;
      height:    600px;
      margin-left: -46px;
    }
    @include w-to(1024px) {
      @include angle(before, true, 2.2deg);
      height:      568px;
      margin-left: -30px;
      max-width:   660px;
      @include angle(after, false, 2.2deg);
    }
    @include w-to(768px) {
      @include angle(before, true, 6.2deg);
      height:      846px;
      @include angle(after, false, 2.2deg);
      margin-left: 0;
    }
  }

  &__name {
    max-width:      475px;
    width:          100%;

    font-family:    $font-family-1;
    font-style:     normal;
    font-weight:    300;
    letter-spacing: 0.01em;
    @include w-to(1440px) {
      max-width: 394px;
    }
    @include w-to(1024px) {
      max-width: 300px;
    }
    @include w-to(768px) {
      max-width: 239px;
    }

    p:first-child {
      font-size:     32px;
      line-height:   40px;
      color:         #343235;
      margin-bottom: 5px;
      @include w-to(1440px) {
        font-size: 28px;
      }
      @include w-to(768px) {
        font-size: 24px;
      }
    }

    p:last-child {
      font-size:     16px;
      line-height:   100%;
      color:         #868686;
      margin-bottom: 30px;
      @include w-to(768px) {
        margin-bottom: 23px;
      }
    }
  }


  &__contacts {
    box-sizing:      border-box;
    max-width:       590px;
    width:           100%;
    margin-bottom:   40px;
    margin-right:    -3.385vw;

    background:      rgb(241, 241, 241);
    backdrop-filter: blur(60px);
    border-radius:   60px;
    padding-top:     67px;
    padding-left:    77px;
    position:        relative;

    @include w-to(1920px) {
      margin-right: -4.55vw;
    }
    @include w-to(1440px) {
      margin-right:  -4.4vw;
      max-width:     488px;
      border-radius: 40px;
      padding-top:   72px;
    }
    @include w-to(1024px) {
      margin-right: -4.0vw;
      max-width:    390px;
      padding-left: 59px;
      padding-top:  40px;
    }
    @include w-to(768px) {
      margin-right: 0;
      max-width:    320px;
      padding-left: 36px;
    }

    &:before {
      position:      absolute;
      content:       "";
      width:         0;
      height:        0;
      border-top:    35px solid transparent;
      border-right:  60px solid hsl(0, 0%, 95%);
      border-bottom: 35px solid transparent;
      left:          -40px;
      top:           122px;
      @include w-to(1440px) {
        top: 92px;
      }
      @include w-to(768px) {
        transform: rotate(-90deg);
        top: 280px;
        left: 130px;
        border-top:    50px solid transparent;
        border-bottom: 50px solid transparent;
      }
    }
  }

  &__title {
    font-family:   $font-family-2;
    font-style:    normal;
    font-weight:   500;
    font-size:     32px;
    line-height:   40px;
    color:         #343235;
    max-width:     290px;
    width:         100%;
    margin-bottom: 20px;
    @include w-to(1440px) {
      font-size:   24px;
      line-height: 32px;
      max-width:   240px;
    }
    @include w-to(768px) {
      font-size: 20px;
      line-height: 24px;
      max-width: 195px;
    }

    &:before {
      content:     '“';
      position:    absolute;
      font-family: $font-family-2;
      font-style:  normal;
      font-weight: 100;
      font-size:   90px;
      line-height: 100%;
      color:       #868686;
      left:        48px;
      top:         34px;
      @include w-to(1440px) {
        top: 28px;
      }
      @include w-to(1024px) {
        top:  22px;
        left: 28px;
      }
      @include w-to(768px) {
        left: 6px;
      }
    }
  }

  &__text {
    font-family:    $font-family-1;
    font-style:     normal;
    font-weight:    300;
    font-size:      24px;
    line-height:    40px;
    letter-spacing: 0.01em;
    color:          #868686;
    max-width:      435px;
    width:          100%;
    margin-bottom:  40px;
    @include w-to(1440px) {
      font-size:     20px;
      line-height:   32px;
      margin-bottom: 44px;
    }
    @include w-to(1024px) {
      font-size: 16px;
    }
    @include w-to(768px) {
      font-size: 14px;
      margin-bottom: 30px;
    }
  }

  &__phone {
    display: flex;

    &-text {
      margin-left: -15px;
    }

    &-text p {
      &:first-child {
        font-family:    $font-family-1;
        font-style:     normal;
        font-weight:    500;
        font-size:      12px;
        line-height:    100%;
        letter-spacing: 2px;
        text-transform: uppercase;
        color:          #FF3C19;
        margin-bottom:  15px;
      }

      &:last-child {
        font-family:    $font-family-2;
        font-style:     normal;
        font-weight:    300;
        font-size:      24px;
        line-height:    100%;
        letter-spacing: 2px;
        text-transform: uppercase;
        color:          #343235;

        .mod-phone {
          font-weight: 400;
        }

        .mod-dash {
          color: #CCB780;
        }
      }
    }
    @include w-to(768px) {
      margin-left: -20px;
    }
  }

  &__img {
    margin-bottom: -4px;
  }

  &__btn {
    margin-top:      20px;
    min-height:      70px;
    z-index:         2;
    display:         flex;
    justify-content: center;
    align-items:     center;
    margin-right:    -64px;
    max-width:       370px;
    @include w-to(1440px) {
      margin-right: -44px;
      max-width:    345px;
    }
    @include w-to(1024px) {
      max-width:    330px;
      margin-right: -30px;
    }

    img {
      width:        10px;
      height:       16px;
      margin-right: 20px;
    }

    @include w-to(768px) {
      max-width:     281px;
      margin-bottom: -33px;
      margin-right:  -2px;
    }
  }

}