@mixin text-param($col, $ff, $fz, $fw, $lh, $ls) {
  color: $col;
  font-family: $ff;
  font-size: $fz;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin width-block {
  max-width: 600px;
  width: 100%;
}


