body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

table,
tbody,
tr,
td {
  border-spacing: 0;
}

ul {padding: 0;}

li {
  list-style-type: none;
  list-style-image: none;
  padding: 0;
}
span {display: inline-block;}
img {display: block;}