.call-me {
  @extend .popup;

  &[data-active="true"] {
    display: flex;
  }

  .popup {
    &__modal {
      background-image: url("../assets/img/popups/popup-call.png");
      background-repeat: no-repeat;
      background-position: 60px bottom;
      max-width: 970px;
      width: 100%;
      height: 750px;
      display: flex;
      justify-content: flex-end;

      @include w-to(1440px) {
        width: 870px;
        height: 700px;
        background-position: 20px 70px;
        background-size: 475px;
      }

      @include w-to(1024px) {
        background-image: none;
        width: 690px;
        height: 670px;
        justify-content: center;
      }

      @include w-to(768px) {
        max-width: 100%;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
      }

      @include w-to(425px) {
        padding: 0 5px;
      }

    }

    &__block {
      max-width: 380px;
      width: 100%;
      margin-right: 90px;
      padding-top: 50px;

      @include w-to(1440px) {
        max-width: 370px;
        padding-top: 37px;
        margin-right: 75px;
      }

      @include w-to(1024px) {
        margin-right: 0;
        max-width: 450px;
        padding-top: 44px;
      }

      @include w-to(768px) {
        max-width: 340px;
        padding-top: 40px;
      }
    }

    &__title {
      margin-bottom: 10px;

      @include w-to(1440px) {
        margin-bottom: 19px;
      }

      @include w-to(1024px) {
        margin-bottom: 12px;
      }

      @include w-to(768px) {
        margin-bottom: 19px;
      }
    }

    &__subtitle {
      margin-bottom: 38px;

      @include w-to(1440px) {
        margin-bottom: 20px;
      }

      @include w-to(1024px) {
        max-width: 260px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &__name {
      margin-left: 30px;
      margin-bottom: 10px;
    }

    &__input {
      margin-bottom: 28px;
      max-width: 370px;

      @include w-to(1440px) {
        margin-bottom: 18px;
      }

      @include w-to(1024px) {
        max-width: 450px;
      }

      &:nth-child(4) {
        margin-bottom: 50px;

        @include w-to(1440px) {
          margin-bottom: 41px;
        }
      }
    }

    &__btn {
      margin-bottom: 30px;
      width: 100%;
      max-width: 370px;

      @include w-to(1440px) {
        margin-bottom: 33px;
      }

      @include w-to(1024px) {
        max-width: 450px;
      }
    }
  }
}