<div class="call-me" v-if="callMeActive" :data-active="callMeActive">
  <div class="popup__modal">
    <div class="popup__close" @click="closePopups()">×</div>

    <div class="popup__block">
      <div class="popup__title">
        <p>Оставьте свой номер</p>
      </div>

      <div class="popup__subtitle">
        <p>Мы&nbsp;свяжемся с&nbsp;вами и&nbsp;ответим на&nbsp;интересующие вопросы</p>
      </div>

      <form class="popup__form" enctype="multipart/form-data" method="post">

        <p class="popup__name">Как к&nbsp;вам обращаться?</p>
        <div class="input popup__input" :class="{'invalid': $v.name.$error}">
          <img src="assets/img/icons/cloud.png" alt="cloud"> <input
            type="text"
            name="name"
            placeholder="Например Андрей"
            v-model="name"
            @blur="$v.name.$touch()"
          >
          <div class="invalid-text" v-if="!$v.name.required && $v.name.$error"><span>Обязательное поле</span></div>
          <div class="invalid-text" v-if="!$v.name.minLength && $v.name.$error"><span>Минимум 2 символа</span></div>
        </div>
        <p class="popup__name">Укажите номер телефона</p>
        <div class="input popup__input" :class="{'invalid': $v.phone.$error}">
          <img src="assets/img/icons/icon-call-2.png" alt="arrow"> <input
            type="text"
            name="phone"
            placeholder="+375 (__)___-__-__"
            v-mask="mask"
            v-model="phone"
            @blur="$v.phone.$touch()"
          >
          <div class="invalid-text" v-if="!$v.phone.required && $v.phone.$error"><span>Обязательное поле</span></div>
        </div>

        <button
          type="submit"
          class="btn popup__btn js-thanks"
          @click.prevent="sendForm($event)"
          :disabled="$v.name.$invalid || $v.phone.$invalid"
        >
          <img src="assets/img/icons/arrow.png" alt="arrow">
          <p>Перезвоните мне</p>
        </button>

        <div class="popup__agreement">
          <p>Нажимая на&nbsp;кнопку, вы&nbsp;даёте согласие на&nbsp;обработку персональных данных и&nbsp;соглашаетесь с
            <a href="#" @click.prevent="conf = true">Политикой конфиденциальности</a></p>
        </div>
      </form>

    </div>


  </div>
</div>