.popup-card {
  @extend .popup;

  &[data-active="true"] {
    display: flex;
  }

  .popup {
    &__modal {
      position: absolute;
      overflow-y: auto;
      max-width:           1170px;
      width:               100%;
      height:              900px;
      display:             flex;
      justify-content:     space-between;
      -ms-overflow-style: none;  // IE 10+
      scrollbar-width: none;  // Firefox
      &::-webkit-scrollbar {
        display: none;  // Safari and Chrome
      }
      @include w-to(1920px) {
        width: 1110px;
        height: 100%;
      }
      @include w-to(1440px) {
        width: 870px;
      }
      @include w-to(1024px) {
        width: 690px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
      }
      @include w-to(768px) {
        width: 100%;
      }
    }
    &__image {
      max-width: 560px;
      width: 100%;
      height: 458px;
      margin-left: 60px;
      align-self: center;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      @include w-to(1920px) {
        max-width: 505px;
        height: 413px;
      }
      @include w-to(1440px) {
        max-width: 320px;
        height: 270px;
      }
      @include w-to(1024px) {
        max-width: 210px;
        height: 172px;
        margin-left: 0;
        margin-top: 40px;
      }
    }

    &__block {
      max-width:    370px;
      width:        100%;
      margin-right: 100px;
      padding-top:  50px;
      @include w-to(1920px) {
        margin-right: 95px;
      }
      @include w-to(1440px) {
        margin-right: 75px;
        padding-top: 37px;
      }
      @include w-to(1024px) {
        max-width: 450px;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 32px;
      }
      @include w-to(768px) {
        padding-top: 28px;
      }
    }

    &__form {
      @include w-to(1024px) {
        width: 100%;
      }
      @include w-to(768px) {
        max-width: 340px;
      }
      @include w-to(425px) {
        max-width: 280px;
      }
    }

    &__title {
      margin-bottom: 10px;
      @include w-to(1440px) {
        margin-bottom: 19px;
      }
      @include w-to(1024px) {
        margin-bottom: 12px;
      }
      @include w-to(768px) {
        margin-bottom: 20px;
      }
    }

    &__subtitle {
      margin-bottom: 38px;
      @include w-to(1440px) {
        margin-bottom: 20px;
      }
    }

    &__name {
      margin-bottom: 10px;
      margin-left:   30px;
    }

    &__input {
      margin-bottom: 28px;
      max-width: 370px;
      @include w-to(1024px) {
        max-width: 450px;
      }
      @include w-to(768px) {
        max-width: 340px;
      }
      @include w-to(425px) {
        max-width: 280px;
      }
    }
    &__area {
      height: 140px;
      align-items: flex-start;
      padding-top: 24px;
      margin-bottom: 50px;
      textarea {
        width: 100%;
        height: 100%;
        resize: none;
      }
      @include w-to(1440px) {
        margin-bottom: 41px;
      }
    }
    &__btn {
      max-width: 370px;
      margin-bottom: 33px;
      @include w-to(1440px) {
        margin-bottom: 23px;
      }
      @include w-to(1024px) {
        max-width: 450px;
      }
    }
    &__agreement {
      margin-bottom: 39px;
    }
  }
}