.popup-detail {
  @extend .popup;

  &[data-active="true"] {
    display: flex;
  }

  .popup {
    &__modal {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 1170px;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      -ms-overflow-style: none; // IE 10+
      scrollbar-width: none; // Firefox
      &::-webkit-scrollbar {
        display: none; // Safari and Chrome
      }
      .card__btn {
        width: 100%;
        max-width: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        display: flex;
        justify-content: center;
        height: 70px;
        min-height: 70px;
        img {
          margin-right: 20px;
        }
      }
    }
    &__block {
      max-width: 570px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .popup__subtitle {
        font-family: $font-family-1;
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 32px;
        text-align: center;
        color: #343235;
        margin-bottom: 41px;
        @include w-to(768px) {
          font-size: 24px;
          max-width: 340px;
        }
      }
      @include w-to(768px) {
        max-width: 340px;
        font-size: 24px;
      }
      @include w-to(425px) {
        max-width: 280px;
      }
    }

    &__subtitle {
      font-family: $font-family-1;
      font-style: normal;
      font-weight: 300;
      font-size: 32px;
      line-height: 32px;
      text-align: center;
      color: #343235;
      margin-bottom: 50px;
      @include w-from(1920px) {
        max-height: 1024px;
      }
      @include w-to(768px) {
        max-width: 320px;
        font-size: 24px;
      }
    }

    &__title {
      margin-top: 50px;
      margin-bottom: 40px;
      span {
        color: #0088CC;
      }
      @include w-to(768px) {
        max-width: 290px;
      }
    }

    &__bonus {
      display: flex;
      align-items: center;
      max-width: 505px;
      width: 100%;
      justify-content: space-between;
      font-family: $font-family-2;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #343235;
      margin-bottom: 20px;
      &-item {
        display: flex;
        align-items: center;
        img {
          margin-right: 20px;
        }
      }
      @include w-to(768px) {
        max-width: 260px;
        flex-wrap: wrap;
        margin-bottom: -75px;
        &-item {
          width: 100%;
          justify-content: space-between;
          &:first-child {
            margin-bottom: 20px;
          }
          &:last-child {
            p {
              margin-right: 15px;
            }
          }
        }
      }
    }

    &__slider {
      margin-bottom: 55px;
      &-item {
        height: 466px;
      }
    }

    &__list {
      width: 100%;
      margin-bottom: 70px;
      .list {
        &__item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-family: $font-family-1;
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 0.01em;
          color: #343235;
          border-bottom: thin solid #EAEAEA;
          padding-top: 10px;
          padding-bottom: 10px;
          &:last-child {
            border-bottom: none;
          }
          img {
            margin-right: 10px;
          }
          p {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            text-align: left;
            box-sizing: border-box;
            word-wrap: break-word;
            &:first-child {
              @include w-to(768px) {
                margin-right: 20px;
                width: 40%;
              }
            }
            &:last-child {
              text-align: right;
              color: #868686;
              justify-content: flex-end;
              width: 60%;
            }
          }
          @include w-to(425px) {
            font-size: 12px;
          }
        }
      }
    }

    &__video {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 830px;
      width: 100%;
      @include w-to(1024px) {
        max-width: 630px;
      }
      @include w-to(768px) {
        max-width: 340px;
      }
      @include w-to(425px) {
        max-width: 280px;
      }
      iframe {
        margin-bottom: 56px;
        width: 100%;
        min-height: 466px;
        height: 466px;
        border-radius: 8px;
        @include w-to(1440px) {
          min-height: 404px;
          height: 404px;
        }
        @include w-to(1024px) {
          min-height: 354px;
          height: 354px;
        }
        @include w-to(768px) {
          min-height: 192px;
          height: 192px;
        }
      }
      .popup__subtitle:nth-child(3) {
        max-width: 740px;
        width: 100%;
        line-height: 48px;
        margin-bottom: 54px;
        @include w-to(768px) {
          width: 302px;
        }
      }
    }
    &__description {
      width: 100%;
      max-width: 100%;
      white-space: pre-line;
      margin-bottom: 60px;

      font-family: $font-family-1;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0.01em;
      color: #343235;
    }
  }
}

.portfolio-content {
  position: relative;
  height: 466px;
  width: 570px;
  min-height: 466px;
  max-height: 466px;
  margin: 0 auto;
  display: block;
  margin-bottom: 160px;
  @include w-to(1024px) {
    width: 510px;
    height: 650px;
  }
  @include w-to(768px) {
    width: 340px;
  }
  @include w-to(425px) {
    max-width: 290px;
  }
  @include w-to(425px) {
    height: 375px;
    max-height: 375px;
    margin-bottom: 80px;
  }
}

.portfolio-item {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.portfolio-item img {
  height: auto;
  width: 100%;
  max-height: 466px;
  height: 466px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  object-fit: contain;
  @include w-to(1024px) {
    max-height: 416px;
    height: 416px;
  }
  @include w-to(768px) {
    height: 276px;
    max-height: 276px;
  }
}

.portfolio-item-active {
  opacity: 1;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.portfolio-btn {
  position: absolute;
  cursor: pointer;
  top: 15px;
  z-index: 5;
  width: 500px;
  height: 500px;
  background-color: rgba(234, 234, 234, 0.7);
  background-repeat: no-repeat;
  background-size: 34px;
  border-radius: 50%;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  flex-wrap: wrap;
  @include w-to(1440px) {
    display: none;
  }
}

.portfolio-btn.prev {
  left: -730px;
  background-image: url("../assets/img/icons/left-arrow.svg");
  background-position: 95% 50%;
  background-size: 15px;
}

.portfolio-btn.next {
  right: -730px;
  background-image: url("../assets/img/icons/right-arrow.svg");
  background-position: 7% 50%;
  background-size: 15px;
}

.portfolio-btn:hover {
  background-color: rgba(234, 234, 234, 1);
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.portfolio-dots {
  position: absolute;
  bottom: -110px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 5;
  @include w-to(1024px) {
    flex-wrap: wrap;
  }
  @include w-to(425px) {
    bottom: -30px;
  }
}

.dot {
  cursor: pointer;
  opacity: 0.6;
  img{
    width: 70px;
    height: 57px;
    object-fit: contain;
    pointer-events: none;
  }
  &-active {
    opacity: 1;
  }
}

.portfolio-content.non-slides {
  margin-bottom: 30px;
  .portfolio-btn, .portfolio-dots {
    display: none;
  }
}

.confidentional {
  .popup__conf {
    font-family: $font-family-1;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    white-space: pre-line;

    padding: 0 150px;

    @include w-to(1440px) {
      padding: 0 100px;
    }
    @include w-to(1024px) {
      padding: 0 50px;
    }
    @include w-to(768px) {
      padding: 0 20px;
      word-break: break-all;
      white-space: pre-wrap;
    }
  }
}