<div class="popup-detail" v-if="detail" :data-active="detail">
  <div class="popup__modal">
    <div @click="closePopups()" class="popup__close">×</div>

    <div class="popup__title" v-if="cardData.Category === 'Пневматическая винтовка' || cardData.Category === 'Пневматический пистолет'">
      <p>${cardData.Category}
        <span>${cardData.Name}</span>
      </p>
    </div>

    <div class="popup__title" v-else="">
      <p>
        <span>${cardData.Name}</span>
      </p>
    </div>

    <div class="popup__bonus" v-if="cardData.Category === 'Пневматическая винтовка' || cardData.Category === 'Пневматический пистолет'">
      <div class="popup__bonus-item">
        <img alt="" src="assets/img/cards/bonus-1.png">
        <p>500 пуль, 5 баллонов, 5 мишеней</p>
      </div>

      <div class="popup__bonus-item">
        <img alt="" src="assets/img/cards/bonus-2.png">
        <p>Гарантия 12 месяцев</p>
      </div>
    </div>

    <ul :class="+cardData.NumberOfSlides <= 1 ? 'non-slides' : 'slides'" class="portfolio-content">
      <li class="portfolio-item" v-for="i in +cardData.NumberOfSlides">
        <img :alt="cardData.Name" :src="cardData.PathToSlides + cardData.Name + '/' + i + '.jpeg'">
      </li>
      <a class="portfolio-btn prev" href="#" id="arrow-left"></a>
      <a class="portfolio-btn next" href="#" id="arrow-right"></a>
      <ul class="portfolio-dots"></ul>
    </ul>

    <div class="popup__block" v-if="cardData.Category !== 'Аксессуары'">

      <div class="popup__subtitle">
        <p>Технические характеристики:</p>
      </div>

      <ul class="popup__list list">
        <li class="list__item" v-if="cardData.Manufacturer !== 'null' && cardData.Manufacturer">
          <p><img alt="ok" src="assets/img/icons/ok-list.png">Производитель:</p>
          <p>${cardData.Manufacturer}</p>
        </li>

        <li class="list__item" v-if="cardData.Warranty !== 'null' && cardData.Warranty">
          <p><img alt="ok" src="assets/img/icons/ok-list.png">Гарантия:</p>
          <p>${cardData.Warranty}</p>
        </li>

        <li class="list__item" v-if="cardData.Caliber !== 'null' && cardData.Caliber">
          <p><img alt="ok" src="assets/img/icons/ok-list.png">Калибр:</p>
          <p>${cardData.Caliber}</p>
        </li>

        <li class="list__item" v-if="cardData.Prototype !== 'null' && cardData.Prototype">
          <p><img alt="ok" src="assets/img/icons/ok-list.png">Боевой прототип:</p>
          <p>${cardData.Prototype}</p>
        </li>

        <li class="list__item" v-if="cardData.Principle !== 'null' && cardData.Principle">
          <p><img alt="ok" src="assets/img/icons/ok-list.png">Принцип работы:</p>
          <p>${cardData.Principle}</p>
        </li>

        <li class="list__item" v-if="cardData.Energy !== 'null' && cardData.Energy">
          <p><img alt="ok" src="assets/img/icons/ok-list.png">Источник энергии:</p>
          <p>${cardData.Energy}</p>
        </li>

        <li class="list__item" v-if="cardData.MuzzleEnergy !== 'null' && cardData.MuzzleEnergy">
          <p><img alt="ok" src="assets/img/icons/ok-list.png">Дульная энергия:</p>
          <p>${cardData.MuzzleEnergy}</p>
        </li>

        <li class="list__item" v-if="cardData.Ammunition !== 'null' && cardData.Ammunition">
          <p><img alt="ok" src="assets/img/icons/ok-list.png">Боеприпасы:</p>
          <p>${cardData.Ammunition}</p>
        </li>

        <li class="list__item" v-if="cardData.StoreCapacity !== 'null' && cardData.StoreCapacity">
          <p><img alt="ok" src="assets/img/icons/ok-list.png">Ёмкость магазина:</p>
          <p>${cardData.StoreCapacity}</p>
        </li>

        <li class="list__item" v-if="cardData.Gate !== 'null' && cardData.Gate">
          <p><img alt="ok" src="assets/img/icons/ok-list.png">Затвор:</p>
          <p>${cardData.Gate}</p>
        </li>

        <li class="list__item" v-if="cardData.Blowback !== 'null' && cardData.Blowback">
          <p><img alt="ok" src="assets/img/icons/ok-list.png">Блоубэк (blowback):</p>
          <p>${cardData.Blowback}</p>
        </li>

        <li class="list__item" v-if="cardData.Speed !== 'null' && cardData.Speed">
          <p><img alt="ok" src="assets/img/icons/ok-list.png">Скорость полета пули:</p>
          <p>${cardData.Speed}</p>
        </li>

        <li class="list__item" v-if="cardData.DoubleSpeed !== 'null' && cardData.DoubleSpeed">
          <p><img alt="ok" src="assets/img/icons/ok-list.png">Скорость полета пули(усиленная пружина):</p>
          <p>${cardData.DoubleSpeed}</p>
        </li>

        <li class="list__item" v-if="cardData.Bed !== 'null' && cardData.Bed">
          <p><img alt="ok" src="assets/img/icons/ok-list.png">Ложе:</p>
          <p>${cardData.Bed}</p>
        </li>

        <li class="list__item" v-if="cardData.Trunk !== 'null' && cardData.Trunk">
          <p><img alt="ok" src="assets/img/icons/ok-list.png">Ствол:</p>
          <p>${cardData.Trunk}</p>
        </li>

        <li class="list__item" v-if="cardData.Base !== 'null' && cardData.Base">
          <p><img alt="ok" src="assets/img/icons/ok-list.png">База для установки прицела:</p>
          <p>${cardData.Base}</p>
        </li>

        <li class="list__item" v-if="cardData.Material !== 'null' && cardData.Material">
          <p><img alt="ok" src="assets/img/icons/ok-list.png">Материал:</p>
          <p>${cardData.Material}</p>
        </li>

        <li class="list__item" v-if="cardData.TriggerMechanism !== 'null' && cardData.TriggerMechanism">
          <p><img alt="ok" src="assets/img/icons/ok-list.png">Ударно-спусковой механизм:</p>
          <p>${cardData.TriggerMechanism}</p>
        </li>

        <li class="list__item" v-if="cardData.ShootingMode !== 'null' && cardData.ShootingMode">
          <p><img alt="ok" src="assets/img/icons/ok-list.png">Режим стрельбы:</p>
          <p>${cardData.ShootingMode}</p>
        </li>

        <li class="list__item" v-if="cardData.Fuse !== 'null' && cardData.Fuse">
          <p><img alt="ok" src="assets/img/icons/ok-list.png">Предохранитель:</p>
          <p>${cardData.Fuse}</p>
        </li>

        <li class="list__item" v-if="cardData.Sights !== 'null' && cardData.Sights">
          <p><img alt="ok" src="assets/img/icons/ok-list.png">Прицельные приспособления:</p>
          <p>${cardData.Sights}</p>
        </li>

        <li class="list__item" v-if="cardData.Weaver !== 'null' && cardData.Weaver">
          <p><img alt="ok" src="assets/img/icons/ok-list.png">Планка Weaver/Picatinny:</p>
          <p>${cardData.Weaver}</p>
        </li>

        <li class="list__item" v-if="cardData.Type !== 'null' && cardData.Type">
          <p><img alt="ok" src="assets/img/icons/ok-list.png">Тип ствола:</p>
          <p>${cardData.Type}</p>
        </li>

        <li class="list__item" v-if="cardData.TargetShootingRange !== 'null' && cardData.TargetShootingRange">
          <p><img alt="ok" src="assets/img/icons/ok-list.png">Дальность прицельной стрельбы(м):</p>
          <p>${cardData.TargetShootingRange}</p>
        </li>

        <li class="list__item" v-if="cardData.TensionForce !== 'null' && cardData.TensionForce">
          <p><img alt="ok" src="assets/img/icons/ok-list.png">Сила натяжения(кг):</p>
          <p>${cardData.TensionForce}</p>
        </li>

        <li class="list__item" v-if="cardData.ShoulderWidth !== 'null' && cardData.ShoulderWidth">
          <p><img alt="ok" src="assets/img/icons/ok-list.png">Размах плеч:</p>
          <p>${cardData.ShoulderWidth}</p>
        </li>

        <li class="list__item" v-if="cardData.Type !== 'null' && cardData.Type">
          <p><img alt="ok" src="assets/img/icons/ok-list.png">Тип:</p>
          <p>${cardData.Type}</p>
        </li>

        <li class="list__item" v-if="cardData.AxleSpacing !== 'null' && cardData.AxleSpacing">
          <p><img alt="ok" src="assets/img/icons/ok-list.png">Расстояние между осями(см):</p>
          <p>${cardData.AxleSpacing}</p>
        </li>

        <li class="list__item" v-if="cardData.TensionLength !== 'null' && cardData.TensionLength">
          <p><img alt="ok" src="assets/img/icons/ok-list.png">Длина натяжения(см):</p>
          <p>${cardData.TensionLength}</p>
        </li>

        <li class="list__item" v-if="cardData.LengthWithStirrup !== 'null' && cardData.LengthWithStirrup">
          <p><img alt="ok" src="assets/img/icons/ok-list.png">Длина со стременем(см):</p>
          <p>${cardData.LengthWithStirrup | clearLength}</p>
        </li>

        <li class="list__item" v-if="cardData.WorkingStroke !== 'null' && cardData.WorkingStroke">
          <p><img alt="ok" src="assets/img/icons/ok-list.png">Рабочий ход тетивы(см):</p>
          <p>${cardData.WorkingStroke}</p>
        </li>

        <li class="list__item" v-if="cardData.Length !== 'null' && cardData.Length">
          <p><img alt="ok" src="assets/img/icons/ok-list.png">Длина:</p>
          <p>${cardData.Length}</p>
        </li>

        <li class="list__item" v-if="cardData.Weight !== 'null' && cardData.Weight">
          <p><img alt="ok" src="assets/img/icons/ok-list.png">Вес:</p>
          <p>${cardData.Weight}</p>
        </li>

        <li class="list__item" v-if="cardData.Info !== 'null' && cardData.Info">
          <p><img alt="ok" src="assets/img/icons/ok-list.png">Доп. информация:</p>
          <p>${cardData.Info}</p>
        </li>

        <li class="list__item" v-if="cardData.Equipment !== 'null' && cardData.Equipment">
          <p><img alt="ok" src="assets/img/icons/ok-list.png">Комплектация:</p>
          <p>${cardData.Equipment}</p>
        </li>

      </ul>

    </div>

    <div class="popup__block" v-if="cardData.Category == 'Аксессуары'">

      <div class="popup__subtitle">
        <p>Описание:</p>
      </div>

      
        <p class="popup__description" v-if="cardData.Description !== 'null'">
          ${cardData.Description}
        </p>
      

    </div>


    <div class="popup__video">
      <div class="popup__subtitle" v-if="cardData.Link && cardData.Link != 'null'">
        <p v-if="cardData.Category === 'Пневматическая винтовка'">Видеообзор пневматической винтовки ${cardData.Name}</p>
        <p v-else-if="cardData.Category === 'Пневматический пистолет'">Видеообзор пневматического пистолета ${cardData.Name}</p>
        <p v-else="">Видеообзор ${cardData.Name}</p>
      </div>

      <iframe :src="cardData.Link.replace('watch?v=', 'embed/')" allowfullscreen frameborder="0" ng-show="showvideo" v-if="cardData.Link && cardData.Link != 'null'"></iframe>

      <div class="popup__subtitle">
        <p>Закажите ${cardData.Name} <span v-if="cardData.Category != 'Аксессуары'">с подарком</span> всего за ${cardData.Price} руб.
          <span v-if="cardData.Installment && cardData.Installment != 'null'">Или ${cardData.Installment} в рассрочку от 6 месяцев.</span>
        </p>
      </div>

    </div>

    <button @click="popupActive(cardData)" class="btn card__btn" type="submit">
      <img alt="arrow" src="assets/img/icons/arrow.png">
      <p>Заказать</p>
    </button>


  </div>
</div>
