.end-quiz {
  @extend .popup;

  &[data-active="true"] {
    display: flex;
  }

  .popup {
    &__modal {
      background-image: url("../assets/img/popups/check-list_02.png");
      background-repeat: no-repeat;
      background-position: 570px 85px;
      max-width: 1170px;
      width: 100%;
      height: 750px;
      display: flex;

      @include w-to(1920px) {
        width: 1110px;
        background-position: 540px 85px;
      }

      @include w-to(1440px) {
        width: 870px;
        height: 750px;
        background-size: 645px;
        background-position: 525px 157px;
      }

      @include w-to(1024px) {
        width: 690px;
        height: 730px;
        background-image: none;
        display: flex;
        justify-content: center;
      }

      @include w-to(768px) {
        max-width: 100%;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        display: block;
        -ms-overflow-style: none; // IE 10+
        scrollbar-width: none; // Firefox

        &::-webkit-scrollbar {
          display: none; // Safari and Chrome
        }
      }
    }

    &__block {
      max-width: 450px;
      width: 100%;
      margin-left: 100px;
      padding-top: 50px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @include w-to(1920px) {
        margin-left: 64px;
      }

      @include w-to(1440px) {
        margin-left: 75px;
        max-width: 425px;
        padding-top: 64px;
      }

      @include w-to(1024px) {
        margin-left: 35px;
        padding-top: 60px;
      }

      @include w-to(768px) {
        max-width: 301px;
        margin-left: 43px;
        padding-top: 40px;
      }

      @include w-to(425px) {
        margin-left: 20px;
        max-width: 280px;
      }
    }

    &__title {
      text-align: left;
      margin-bottom: 20px;

      @include w-to(768px) {
        margin-bottom: 28px;
      }
    }

    &__subtitle {
      text-align: left;
      margin-bottom: 50px;

      @include w-to(1440px) {
        margin-bottom: 39px;
      }

      @include w-to(768px) {
        margin-bottom: 30px;
      }
    }

    &__name {
      @include w-to(768px) {
        line-height: 24px;
      }

      &:nth-child(3) {
        margin-bottom: 50px;

        @include w-to(1440px) {
          margin-bottom: 40px;
        }
      }

      &:nth-child(4) {
        margin-bottom: 30px;
        max-width: 255px;
        width: 100%;
      }
    }

    &__youtube {
      padding-left: 30px;
      border-left: 1px solid rgba(0, 0, 0, 0.2);
      max-width: 320px;
      width: 100%;

      @include w-to(768px) {
        border-left: none;
        padding-left: 0;
      }

      img {
        margin-right: 15px;
      }

      p {
        margin-bottom: 10px;
      }

      a {
        display: flex;
        align-items: center;
        font-family: $font-family-2;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 100%;
        text-transform: uppercase;
        color: #1375F8;
        margin-bottom: 30px;

        @include w-to(768px) {
          margin-bottom: 55px;
        }
      }
    }

    &__time {
      @include w-to(768px) {
        font-size: 16px;
        line-height: 32px;
        padding-left: 15px;
      }
    }
  }
}