<div class="end-quiz" v-if="quizActive" :data-active="quizActive">
  <div class="popup__modal">
    <div class="popup__close" @click="closePopups()">×</div>

    <div class="popup__block">
      <div class="popup__title">
        <p>Спасибо! Ваша заявка&nbsp;попала к&nbsp;нам</p>
      </div>

      <div class="popup__subtitle">
        <p>Мы&nbsp;отправим персональную подборку пневматики на&nbsp;ваш e-mail в&nbsp;ближайшие 15&nbsp;минут</p>
      </div>

      <p class="popup__name">Вы&nbsp;можете получить выбранный подарок при покупке пневматического пистолета в&nbsp;течение ближайших 14&nbsp;дней</p>
      <p class="popup__name">Если письмо не&nbsp;пришло проверьте папки &laquo;Спам&raquo; и&nbsp;&laquo;Промоакции&raquo;</p>


      <div class="popup__youtube">
        <p class="popup__name">А&nbsp;пока вы&nbsp;ждёте посмотрите обзоры отличной пневматики на&nbsp;нашем канале:</p>
        <a href="https://www.youtube.com/channel/UCL_JEvMzLL54y0I5TkhXEhw"><img src="assets/img/icons/youtube.svg" alt="youtube">youtube.com/channel_link</a>
        <p class="popup__time">Работаем с&nbsp;9-00 до&nbsp;18-00 ежедневно</p>
      </div>
    </div>
  </div>
</div>