.popup {
  position:         fixed;
  top:              0;
  left:             0;
  width:            100%;
  height:           100%;
  background: url("../assets/img/main-bg.jpg") center 0/ cover repeat-y;

  display:          none;
  justify-content:  center;
  align-items:      center;
  z-index:          999;

  &__modal {
    background-color: #FFFFFF;
    box-shadow: 0 40px 100px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    position: relative;
    @include w-to(1024px) {
      display: -webkit-inline-box !important;
    }
  }
  &__close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #FADD79;
    width: 60px;
    height: 60px;
    border-radius: 0 10px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    cursor: pointer;
    @include w-to(768px) {
      width: 40px;
      height: 40px;
      font-size: 40px;
    }
  }
  &__title {
    font-family: $font-family-2;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
    color: #343235;
    @include w-to(1440px) {
      font-size: 32px;
      line-height: 48px;
    }
    @include w-to(768px) {
      font-size: 24px;
      line-height: 32px;
    }
  }
  &__subtitle {
    font-family: $font-family-1;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #343235;
    @include w-to(1440px) {
      font-size: 18px;
    }
    @include w-to(768px) {
      font-size: 16px;
      line-height: 24px;
    }
  }
  &__input {
    background: #F5F5F5;
    border: 1px solid #D9D9DA;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 30px;

    img {
      margin-right: 14px;
    }
    input, textarea {
      font-family: $font-family-1;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 100%;
      color: #868686;
    }
  }
  &__name {
    font-family: $font-family-1;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    color: #343235;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-box !important;

    img {
      margin-right: 20px;
    }
  }
  &__agreement {

    font-family: $font-family-1;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #868686;
    max-width: 285px;
    width: 100%;
    margin: 0 auto;

    a {
      text-align: center;
      text-decoration-line: underline;
      color: #1375F8;
    }
  }
  &__time {
    font-family:   $font-family-1;
    font-style:    normal;
    font-weight:   300;
    font-size:     16px;
    line-height:   32px;
    color:         #868686;
    @include w-to(768px) {
      font-size: 14px;
      line-height: 24px;
    }
  }
}