<div class="thanks" v-if="thanksActive" :data-active="thanksActive">
  <div class="popup__modal">
    <div class="popup__close" @click="closePopups()">×</div>

    <div class="popup__goodday">
      <p>Хорошего вам дня!</p>
    </div>

    <div class="popup__title">
      <p>Ваша заявка попала к&nbsp;нам</p>
    </div>

    <div class="popup__subtitle">
      <p>Мы&nbsp;свяжемся с&nbsp;вами в&nbsp;течение 15&nbsp;минут в&nbsp;рабочее время</p>
    </div>

    <div class="popup__time">
      <p>Работаем с&nbsp;9-00 до&nbsp;18-00. Если сейчас очень рано или поздно&nbsp;&mdash; придётся подождать</p>
    </div>

  </div>
</div>