.thanks {
  @extend .popup;

  &[data-active="true"] {
    display: flex;
  }

  .popup {
    &__modal {
      background-image:    url("../assets/img/popups/popup_clock-hand.png");
      background-repeat:   no-repeat;
      background-position: left 40px;
      max-width:           970px;
      width:               100%;
      height:              750px;
      display:             flex;
      flex-direction:      column;
      align-items:         center;
      justify-content:     flex-end;
      @include w-to(1440px) {
        width: 870px;
        height: 700px;
        background-size: 720px;
        background-position: left 30px;
      }
      @include w-to(1024px) {
        width: 690px;
        height: 700px;
        background-position: -90px 30px;
      }
      @include w-to(768px) {
        max-width: 100%;
        width: 100%;
        height: 100%;
        background-size: 437px;
        background-position: -54px 71px;
      }
      @include w-to(425px) {
        background-position: -100px 40px;
      }
    }

    &__goodday {
      font-family:   'Bristol', Helvetica, Arial, sans-serif;
      font-size:     30px;
      line-height:   100%;
      text-align:    center;
      color:         #CCB780;
      margin-bottom: 20px;
      @include w-to(1024px) {
        margin-bottom: 26px;
      }
      @include w-to(768px) {
        margin-bottom: 22px;
      }
    }

    &__title {
      margin-bottom: 10px;
      @include w-to(1440px) {
        margin-bottom: 19px;
      }
      @include w-to(1024px) {
        margin-bottom: 12px;
      }
      @include w-to(768px) {
        margin-bottom: 19px;
      }
    }

    &__subtitle {
      margin-bottom: 30px;
      @include w-to(1440px) {
        margin-bottom: 40px;
      }
      @include w-to(768px) {
        max-width: 230px;
        margin-bottom: 50px;
      }
    }

    &__time {
      text-align:    center;
      margin-bottom: 40px;
      max-width:     365px;
      @include w-to(1440px) {
        margin-bottom: 31px;
      }
      @include w-to(768px) {
        max-width: 310px;
        margin-bottom: 51px;
      }
    }
  }
}