<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
<meta name="format-detection" content="telephone=no">
<meta http-equiv="x-rim-auto-match" content="none">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<style type="text/css">
  body,
  p,
  a,
  td,
  div {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust:     100%;
    font-family:              'HelveticaNeueCyr', Helvetica, Arial, sans-serif;
  }

  .b-header__link:hover {
    text-decoration: underline !important;
  }
</style>

<!-- Web Font / @font-face : BEGIN -->
<!--[if mso]>
<style type="text/css">
  * {
    font-family: 'HelveticaNeueCyr', Helvetica, Arial, sans-serif !important;
  }
</style>
<![endif]-->

<style type="text/css">
  @import url('http://newsite-dev.ru/Argument/styles/main.css');
  * {
    font-family: 'HelveticaNeueCyr', Helvetica, Arial, sans-serif;
  }
</style>

<!-- Web Font / @font-face : END -->


{# для outlook #}
<!--[if mso]>
<style type="text/css">


</style>
<![endif]-->




