{% extends 'templates/main.twig' %}

{% block body %}

  <table align="center" cellpadding="0" cellspacing="0" style="border-spacing:0; width: 100%; max-width: 570px;">
    <tr>
      <td align="center" style="padding-top: 40px;">

        <table cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
            <td align="left" style="padding-bottom: 36px;">
              <a href="http://newsite-dev.ru/Argument/"><img src="http://newsite-dev.ru/Argument/assets/img/mail/logo.png" alt="Аргумент" style="width: 134px; height: 17px;"></a>
            </td>
            <td align="right" style="padding-bottom: 36px;">
              <p
                style="font-family: 'HelveticaNeueCyr', Helvetica, Arial, sans-serif;
                       font-style: normal;
                       font-weight: 300;
                       font-size: 14px;
                       line-height: 16px;
                       text-align: right;
                       letter-spacing: 0.01em;
                       color: #343235;"
              >Магазин пневматики в Беларуси</p>
            </td>
          </tr>
        </table>

        <table class="block" cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#ffffff" style="border-spacing:0;border-radius: 40px;">
          <tr>
            <td align="center" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0; padding-bottom: 90px;">
              <center
                style="width:100%;min-width:100%;table-layout:fixed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
                <div style="max-width:570px;margin: 0 auto;">

                  <!--[if (gte mso 9)|(IE)]>
                  <table width="570" align="center" border="0" cellpadding="0" cellspacing="0"
                    style="border-spacing:0;">
                    <tr>
                      <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;"><![endif]-->

                  <table align="center" border="0" cellpadding="0" cellspacing="0"
                    style="border-spacing:0;Margin:0 auto;width:100%;max-width:570px;">
                    <tr>
                      <td
                        style="-webkit-font-smoothing:antialiased;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">

                        <table width="100%" style="-webkit-font-smoothing:antialiased;border-spacing:0;">
                          <tr style="-webkit-font-smoothing:antialiased;">
                            <td style="-webkit-font-smoothing:antialiased;width:100%;text-align:left;min-width:100%;">

                              <table width="100%" border="0" cellspacing="0" cellpadding="0"
                                style="-webkit-font-smoothing:antialiased;width:100%;text-align:left;min-width:100%;">
                                <tbody>

                                <tr>
                                  <td align="center">

                                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                      <tr>
                                        <td align="center">
                                          <img src="http://newsite-dev.ru/Argument/assets/img/mail/photo.png" alt="Антон Рудой"
                                            style="width: 70px; height: 70px; margin-top: -10px;"
                                          >
                                        </td>
                                      </tr>
                                    </table>

                                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                      <tr>
                                        <td align="center">
                                          <img src="http://newsite-dev.ru/Argument/assets/img/mail/catalog-weapon.png" alt="Каталог"
                                            style="width: 370px; height: 275px; margin-top: -20px;"
                                          >
                                        </td>
                                      </tr>
                                    </table>

                                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                      <tr>
                                        <td align="center" style="padding-bottom: 24px;">
                                          <div class="title">
                                            <p
                                              style="font-family: 'HelveticaNeueCyr', Helvetica, Arial, sans-serif;
                                                     font-style: normal;
                                                     font-weight: normal;
                                                     font-size: 32px;
                                                     line-height: 48px;
                                                     text-align: center;
                                                     letter-spacing: 0.01em;
                                                     width: 395px;
                                                     color: #343235;"
                                            >Подборка персональной пневматики без лицензии</p>
                                          </div>
                                        </td>
                                      </tr>
                                    </table>

                                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                      <tr>
                                        <td align="center">
                                          <div class="subtitle">
                                            <p
                                              style="font-family: 'HelveticaNeueCyr', Helvetica, Arial, sans-serif;
                                                     font-style: normal;
                                                     font-weight: 300;
                                                     font-size: 16px;
                                                     line-height: 40px;
                                                     text-align: center;
                                                     letter-spacing: 0.01em;
                                                     width: 465px;
                                                     padding-bottom: 40px;
                                                     color: #868686;"
                                            >Речь пойдёт исключительно о разрешенных пневматических аналогах, с дульной энергией до 3 Джоулей. Они официально разрешены на территории РБ и не требуют выдачи никаких разрешительных документов.</p>
                                          </div>
                                        </td>
                                      </tr>
                                    </table>

                                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                      <tr>
                                        <td align="center" valign="middle">
                                          <a href="http://newsite-dev.ru/Argument/assets/other/Catalog.pdf" download="http://newsite-dev.ru/Argument/assets/other/Catalog.pdf" target="_self" class="btn"
                                            style="width: 330px;
                                            padding-top: 27px;
                                            padding-bottom: 25px;
                                            background: #FFE284;
                                            display: block;
                                            border-radius: 10px;
                                            font-family: 'HelveticaNeueCyr', Helvetica, Arial, sans-serif;
                                            font-style: normal;
                                            font-weight: bold;
                                            font-size: 14px;
                                            line-height: 100%;
                                            letter-spacing: 2px;
                                            text-transform: uppercase;
                                            text-decoration: none;
                                            color: #343235;
                                            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);"
                                          > <img src="http://newsite-dev.ru/Argument/assets/img/mail/arrow.png" alt="Получить подборку"
                                              style="
                                              display: inline;
                                              width: 10px;
                                              height: 16px;
                                              margin-right: 20px;"
                                            > Получить подборку </a>
                                        </td>
                                      </tr>
                                    </table>

                                  </td>
                                </tr>

                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>

                  <!--[if (gte mso 9)|(IE)]></td>
                  </tr>
                  </table><![endif]-->

                </div>
              </center>
            </td>
          </tr>
        </table>

        <table cellpadding="0" cellspacing="0" border="0" width="100%" style="padding-top: 50px">
          <tr>
            <td align="center">

              <table cellpadding="0" cellspacing="0" border="0" width="100%" style="width: 210px;">
                <tr>
                  <td class="icons" align="center" style="padding-top: 50px; padding-bottom: 16px;">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                      <tr>
                        <td align="center" class="icons_item">
                          <a href="https://www.youtube.com/channel/UCL_JEvMzLL54y0I5TkhXEhw" style="
                               border: 1px solid rgba(52, 50, 53, 0.2);
                               width: 58px;
                               height: 58px;
                               border-radius: 50%;
                               display: block;
                               ">
                            <img src="http://newsite-dev.ru/Argument/assets/img/mail/utube.png" alt="youtube"
                              style="margin: 0 auto; width: 22px; height: 16px; padding-top: 22px"
                            >
                          </a>
                        </td>
                        <td align="center" class="icons_item">
                          <a href="https://www.instagram.com/argument_guns/" style="
                               border: 1px solid rgba(52, 50, 53, 0.2);
                               width: 58px;
                               height: 58px;
                               border-radius: 50%;
                               display: block;
                               ">
                            <img src="http://newsite-dev.ru/Argument/assets/img/mail/inst.png" alt="instagramm"
                              style="margin: 0 auto; width: 20px; height: 20px; padding-top: 20px;"
                            >
                          </a>
                        </td>
                        <td align="center" class="icons_item">
                          <a href="https://vk.com/argument_guns" style="
                               border: 1px solid rgba(52, 50, 53, 0.2);
                               width: 58px;
                               height: 58px;
                               border-radius: 50%;
                               display: block;">
                            <img src="http://newsite-dev.ru/Argument/assets/img/mail/vk.png" alt="vk"
                              style="margin: 0 auto; width: 24px; height: 14px; padding-top: 22px;"
                            >
                          </a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>

              <table cellpadding="0" cellspacing="0" border="0" width="100%" style="padding-bottom: 80px">
                <tr>
                  <td align="center" style="padding-bottom: 80px;">
                    <p
                      style="font-family: 'HelveticaNeueCyr', Helvetica, Arial, sans-serif;
                      font-style: normal;
                      font-weight: 300;
                      font-size: 14px;
                      line-height: 100%;
                      text-align: center;
                      letter-spacing: 0.01em;
                      color: #868686;"
                    >argument.of.by © 2019</p>
                  </td>
                </tr>
              </table>

              <table cellpadding="0" cellspacing="0" border="0" width="100%" style="padding-bottom: 68px">
                <tr>
                  <td align="center" style="padding-bottom: 68px;">
                    <a href="#"
                      style="font-family: 'HelveticaNeueCyr', Helvetica, Arial, sans-serif;
                             font-style: normal;
                             font-weight: 300;
                             font-size: 12px;
                             line-height: 100%;
                             text-align: center;
                             letter-spacing: 0.01em;
                             color: #868686;
                             text-decoration: underline;
                             opacity: 0.5;"
                    >Я больше не хочу получать письма</a>
                  </td>
                </tr>
              </table>

            </td>
          </tr>
        </table>

      </td>
    </tr>
  </table>

{% endblock %}

{% block mediaQuery %}
  {{ parent() }}

  <style type="text/css">

    @media screen and (max-width: 570px) {

    }
  </style>

{% endblock %}

