.card {
  display:          flex;
  flex-direction:   column;
  align-items:      center;
  max-width:        350px;
  width:            100%;
  border-radius:    8px;
  background-color: white;
  padding-top:      30px;
  margin-bottom:    44px;
  position:         relative;
  min-height:       730px;
  @include w-to(1440px) {
    max-width:     420px;
    width:         100%;
    margin-bottom: 46px;
  }
  @include w-to(1024px) {
    margin-bottom: 34px;
  }
  @include w-to(768px) {
    margin-bottom: 13px;
  }

  &__row {
    display:         flex;
    justify-content: space-between;
    align-items:     center;
    margin-bottom:   30px;
    max-width:       275px;
    width:           100%;

    img {
      margin-right: 35px;
      width:        40px;
      height:       26px;
    }

    @include w-to(1440px) {
      max-width: 245px;
    }
  }

  &__img {
    height:          225px;
    max-width:       310px;
    width:           100%;
    margin-bottom:   10px;
    display:         flex;
    justify-content: center;
    align-items:     center;
    img {
      max-width: 310px;
      width: 100%;
      height: 225px;
    }
    @include w-to(1024px) {
      margin-bottom: 5px;
      max-width:     270px;
      width:         100%;
      height:        225px;
      img {
        width:      270px;
        height:     225px;
        max-height: 225px;
        object-fit: contain;
        margin:     0 auto;
      }
    }
  }

  &__title {
    font-family:   $font-family-2;
    font-weight:   500;
    font-size:     30px;
    line-height:   50px;
    text-align:    center;
    color:         #0088CC;
    border-bottom: 1px solid rgba(0, 136, 204, 0.4);
    margin-bottom: 20px;
    margin-right: 30px;
    margin-left: 30px;
    a {
      text-decoration: none;
    }
    @include w-to(1024px) {
      font-size: 27px;
    }
  }

  &__description {
    width:         100%;
    margin-bottom: 9px;
    border-bottom: 1px solid #D9D9DA;
    padding-bottom: 42px;

    &-item {
      display:         flex;
      justify-content: space-between;
      margin:          0 30px;
      font-family:     $font-family-1;
      font-weight:     400;
      font-size:       14px;
      line-height:     32px;
      color:           #343235;
      span {
        color: #868686;
      }
      @include w-to(425px) {
        margin: 0 15px;
      }
    }
  }

  &__conditions {
    margin-bottom: 70px;
    width: 83%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__price {
    display:         flex;
    justify-content: space-around;
    align-items:     center;
    font-family:     $font-family-1;
    font-weight:     300;
    font-size:       14px;
    line-height:     32px;
    color:           #343235;
    margin-bottom:   15px;

    @include w-to(1440px) {
      margin: 0px -21px 13px;
    }

    &-arrow {
      font-size: 26px;
    }

    .mod-num {
      font-size:      32px;
      line-height:    48px;
      letter-spacing: -1px;
      color:          #343235;
    }

    &-old {
      margin-right: 11px;
    }
    &-new {
      margin-left: 25px;
      .mod-num {
        color: #FF3C19;
      }
    }
  }

  &__installment {
    font-family: $font-family-1;
    font-size:   16px;
    line-height: 24px;
    color:       #343235;
    max-width:   245px;
    width:       100%;
  }

  &__footnote {
    font-family: $font-family-1;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #868686;
    margin-bottom: 15px;
    @include w-to(1024px) {
      margin-bottom: 18px;
    }
  }

  &__btn {
    height:         70px;
    background:     #FCDF7E;
    border-radius:  0 0 8px 8px;
    width:          100%;

    font-family:    $font-family-1;
    font-weight:    500;
    font-size:      13px;
    line-height:    100%;
    text-align:     center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color:          #343235;
    text-shadow:    0 1px 0 rgba(255, 255, 255, 0.6);
    cursor:         pointer;

    position:       absolute;
    bottom:         0;
  }
}

.installment-plan::before {
  position: absolute;
  height: 48px;
  max-width: 80px;
  width: 100%;
  display: block;
  padding-top: 12px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 85%, 0 100%);
  background: #FF3C19;
  top: 0;
  right: 20px;

  content: "Рассрочка \A от 6 месяцев";
  white-space: pre;
  font-family: $font-family-2;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.mod-star {
  color: #FF3C19;
}

.card.accessories-mod {
  min-height: 520px;
}