<div :class="changeClass(item)" class="card">

  <div class="card__img"><img :alt="item.Name" :src="item.PathToImages + '/' + item.Name + '.jpeg'"></div>

  <div class="card__title">
    <a @click.prevent="activeDetails(item)" href="#">${item.Name}</a>
  </div>

  <div class="card__description" v-if="item.Category !== 'Аксессуары'">

    <template v-if="item.Category === 'Пневматическая винтовка'">
      <div class="card__description-item" v-if="item.Speed && item.Speed != 'null'">
        <p>Скорость пули
          <span>(стан. пружина)</span>
        </p>
        <p>${item.Speed}</p>
      </div>
      <div class="card__description-item" v-if="item.Caliber && item.Caliber != 'null'">
        <p>Калибр</p>
        <p>${item.Caliber}</p>
      </div>
      <div class="card__description-item" v-if="item.Trunk && item.Trunk != 'null'">
        <p>Ствол</p>
        <p>${item.Trunk}</p>
      </div>
      <div class="card__description-item" v-if="item.Bed && item.Bed != 'null'">
        <p>Ложе</p>
        <p>${item.Bed}</p>
      </div>
    </template>

    <template v-if="item.Category === 'Пневматический пистолет'">
      <div class="card__description-item" v-if="item.Speed && item.Speed != 'null'">
        <p>Скорость пули
          <span>(стан. пружина)</span>
        </p>
        <p>${item.Speed}</p>
      </div>
      <div class="card__description-item">
        <p>Калибр</p>
        <p>${item.Caliber}</p>
      </div>
      <div class="card__description-item">
        <p>Магазин</p>
        <p>${item.StoreCapacity}</p>
      </div>
    </template>

    <template v-if="item.Category === 'Аксессуары'"></template>

    <template v-if="item.Category === 'Арбалеты'">
      <div class="card__description-item" v-if="item.Type">
        <p>Тип</p>
        <p>${item.Type}</p>
      </div>
      <div class="card__description-item" v-if="item.TensionForce">
        <p>Сила натяжения</p>
        <p>${item.TensionForce}</p>
      </div>
      <div class="card__description-item" v-if="item.TargetShootingRange">
        <p>Дальность прицельной стрельбы(м)</p>
        <p>${item.TargetShootingRange}</p>
      </div>
    </template>

    <template v-if="item.Category === 'Луки'">
      <div class="card__description-item" v-if="item.TensionForce">
        <p>Сила натяжения</p>
        <p>${item.TensionForce}</p>
      </div>
      <div class="card__description-item" v-if="item.AxleSpacing">
        <p>Расстояние между осями(см)</p>
        <p>${item.AxleSpacing}</p>
      </div>
      <div class="card__description-item" v-if="item.TensionLength">
        <p>Длина натяжения(см)</p>
        <p>${item.TensionLength}</p>
      </div>
    </template>

    <div class="card__description-item" v-if="item.Material">
      <p>Материал</p>
      <p>${item.Material}</p>
    </div>

  </div>

  <div class="card__conditions">
    <div class="card__price">
      <p class="card__price-old">
        <span class="mod-num">${item.Price}</span>
        рублей</p>
      <p class="card__price-arrow" v-if="item.Stock != 'null' && item.Stock">→</p>
      <p class="card__price-new" v-if="item.Stock != 'null' && item.Stock">
        <span class="mod-num">${item.Stock}</span>
        рублей
        <span class="mod-star">*</span>
      </p>
    </div>
    <div class="card__row" v-if="item.Installment != 'null' && item.Installment">


      <img alt="ticket" src="assets/img/icons/ticket.png">
      <p class="card__installment">${item.Installment} в месяц по&nbsp;рассрочке от 6 до&nbsp;36&nbsp;месяцев</p>

    </div>
    <p class="card__footnote" v-if="item.Stock != 'null' && item.Stock">
      <span class="mod-star">*</span>Акция без рассрочки</p>
  </div>
  <button @click="popupActive(item)" class="card__btn" type="button">Заказать</button>
</div>
