.body {
  width:            100%;
  height:           100%;
  background:       url("../assets/img/tree-r.png") right 10266px no-repeat,
                    url("../assets/img/tree-l.png") -66px 9402px no-repeat,
                    url("../assets/img/tree-l.png") left 6618px no-repeat,
                    url("../assets/img/tree-r.png") right 5849px no-repeat,
                    url("../assets/img/bow.png") right 5596px no-repeat,
                    url("../assets/img/main-tree.png") left 2393px no-repeat,
                    url("../assets/img/main-bg-first.jpg") center 0/ contain no-repeat,
                    url("../assets/img/main-bg.jpg") center 0/ contain repeat-y;
  background-color: grey;

  @include w-from(2560px) {
    background: url("../assets/img/tree-r.png") right 10266px no-repeat,
                url("../assets/img/tree-l.png") -66px 9402px no-repeat,
                url("../assets/img/tree-l.png") left 7270px no-repeat,
                url("../assets/img/tree-r.png") right 5849px no-repeat,
                url("../assets/img/bow.png") right 5596px no-repeat,
                url("../assets/img/main-tree.png") left 2393px no-repeat,
                url("../assets/img/main-bg-first.jpg") center 0/ contain no-repeat,
                url("../assets/img/main-bg.jpg") center 0/ contain repeat-y;
  }

  @include w-to(1920px) {
    background: url("../assets/img/main-bg-first.jpg") center 0 no-repeat,
                url("../assets/img/main-bg.jpg") center 0 repeat-y;
  }

}

.container {
  width:     100%;
  max-width: 1110px;

  @include w-to(1440px) {
    max-width: 870px;
  }
  @include w-to(1024px) {
    max-width: 690px;
  }
  @include w-to(768px) {
    max-width: 340px;
  }
  @include w-to(425px) {
    max-width: 300px;
  }
}

.btn {
  position:       relative;
  max-width:      350px;
  width:          100%;
  height:         70px;
  background:     linear-gradient(180deg, #FFE284 0%, #FADD79 100%);
  border-radius:  10px;
  cursor:         pointer;

  font-family:    $font-family-1;
  font-size:      16px;
  line-height:    100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color:          #343235;
  text-shadow:    0 1px 0 rgba(255, 255, 255, 0.6);
  font-weight:    500;

  img, p {
    pointer-events: none;
  }
}

.input {
  max-width:        320px;
  width:            100%;
  height:           70px;
  border-radius:    10px;
  background-color: white;


  font-family:      $font-family-1;
  font-style:       normal;
  font-weight:      300;
  font-size:        18px;
  line-height:      100%;
  color:            #868686;
  @include w-to(1440px) {
    max-width: 315px;
  }
  @include w-to(1024px) {
    max-width: 420px
  }
  @include w-to(768px) {
    max-width: 310px;
  }
}

.invalid {
  position: relative;
  border:   1px solid red !important;

  &-text {
    color:     red;
    font-size: 13px;
    position:  absolute;
    bottom:    -21px;
    left:      0;
  }
}

.magnets-body {
  background: url("../assets/img/main-bg-first.jpg") center 0/cover no-repeat,
              url("../assets/img/main-bg.jpg") center 0/cover repeat-y;
}