<section class="quiz {{ class }}">
  <div class="container">

    {% if bool == 'true' %}
      <div class="quiz__title"><p>Затрудняетесь с выбором?</p></div>

      <div class="quiz__prize">
        <div class="quiz__prize-img"></div>
        <div class="quiz__prize-text">
          <p class="quiz__prize-text_title">Пройдите тест и получите подборку пневматических пистолетов по вашим критериям</p>
          <p class="quiz__prize-text_subtitle">+ Подарки на сумму до 15 рублей</p>
          <p class="quiz__prize-text_name">Антон Рудой</p>
          <p class="quiz__prize-text_job">Менеджер</p>
        </div>
      </div>
    {% else %}
      <div class="quiz__name">
        <p>Тест по&nbsp;подбору пневматического пистолета, не&nbsp;требующего лицензии</p>
      </div>

      <div class="quiz__title">
        <p>Какую пневматику выбрать, чтобы стрелять метко, в&nbsp;удовольствие и&nbsp;не&nbsp;нарушать закон</p></div>

      <div class="quiz__prize quiz__landing">
        <div class="quiz__prize-img"></div>
        <div class="quiz__prize-text">
          <p class="quiz__prize-text_title">Ответьте на&nbsp;вопросы теста и&nbsp;получите</p>
          <p class="quiz__prize-text_subtitle">Персональную подборку пневматических пистолетов +&nbsp;ПОДАРОК на&nbsp;выбор</p>
          <p class="quiz__prize-text_name">Антон Рудой</p>
          <p class="quiz__prize-text_job">Менеджер</p>
        </div>
      </div>

      <div class="quiz__get">
        <div class="quiz__icons">
          <div class="quiz__icons-item">
            <img src="assets/img/icon-revolver.png" alt="revolver">
            <p><span>1000</span> пистолетов продано</p>
          </div>
          <div class="quiz__icons-item">
            <img src="assets/img/icon_cards.png" alt="cards">
            <p><span>от&nbsp;13&nbsp;руб</span> цена пистолета в&nbsp;рассрочку</p>
          </div>
        </div>
        <div class="quiz__get-btn" @click="scrollToQuiz()">
          <button type="button" class="quiz__btn btn">Получить подборку пневмопистолетов + подарок</button>
          <p>Бесплатно. Данные защищены</p>
        </div>

      </div>

      <div class="quiz__second-title"><p>Начните с выбора подарка</p></div>

    {% endif %}

    <div class="quiz__test js-quiz" v-if="quizItem === 0">
      <div class="quiz__progress"></div>
      <p class="quiz__test-title">Выберите свой подарок, который получите вместе с заказом</p>
      <p class="quiz__test-subtitle">По результатам теста вы получите один из подарков:</p>

      <div class="quiz__cards">
        <div class="quiz__item js-quiz-item" @click="getActiveCard($event)" data-active="false">
          <div class="quiz__checkbox">
            <div class="quiz__checkbox_active"></div>
          </div>
          <div class="quiz__item-img"><img src="assets/img/quiz/item-1.jpg" alt="500 пуль, 5 баллонов, 5 мишеней"></div>
          <p class="quiz__item-text">500 пуль, 5 баллонов, 5 мишеней</p>
        </div>
        <div class="quiz__item js-quiz-item" @click="getActiveCard($event)" data-active="false">
          <div class="quiz__checkbox">
            <div class="quiz__checkbox_active"></div>
          </div>
          <div class="quiz__item-img"><img src="assets/img/quiz/item-2.jpg" alt="Продление гарантии на 6 месяцев"></div>
          <p class="quiz__item-text">Продление гарантии на 6 месяцев</p>
        </div>
        <div class="quiz__item js-quiz-item" @click="getActiveCard($event)" data-active="false">
          <div class="quiz__checkbox">
            <div class="quiz__checkbox_active"></div>
          </div>
          <div class="quiz__item-img"><img src="assets/img/quiz/item-3.jpg" alt="Рогатка"></div>
          <p class="quiz__item-text">Рогатка</p>
        </div>
      </div>
      <button type="button" class="card__btn js-quiz-btn" @click="reseultCardQuiz()"><img src="assets/img/icons/arrow.png" alt="arrow">Начать тест</button>
    </div>

    <div class="quiz__test quiz__start quiz__step-two js-quiz" v-if="quizItem === 1">
      <div class="quiz__progress"></div>
      <p class="quiz__test-title">Для каких целей выбираете пистолет?</p>
      <p class="quiz__test-subtitle">По результатам теста вы получите один из подарков:</p>

      <div class="quiz__cards">
        <div class="quiz__item js-quiz-item" @click="getActiveCard($event)" data-active="false">
          <div class="quiz__checkbox">
            <div class="quiz__checkbox_active"></div>
          </div>
          <p class="quiz__item-text">Стрельба по минешям</p>
        </div>
        <div class="quiz__item js-quiz-item" @click="getActiveCard($event)" data-active="false">
          <div class="quiz__checkbox">
            <div class="quiz__checkbox_active"></div>
          </div>
          <p class="quiz__item-text">В коллекцию</p>
        </div>
        <div class="quiz__item js-quiz-item" @click="getActiveCard($event)" data-active="false">
          <div class="quiz__checkbox">
            <div class="quiz__checkbox_active"></div>
          </div>
          <p class="quiz__item-text">В подарок юному стрелку</p>
        </div>
        <div class="quiz__item js-quiz-item" @click="getActiveCard($event)" data-active="false">
          <div class="quiz__checkbox">
            <div class="quiz__checkbox_active"></div>
          </div>
          <p class="quiz__item-text">Другое</p>
        </div>
      </div>
      <div class="quiz__btns">
        <button type="button" class="card__btn quiz__btn-back js-quiz-btn" @click="quizItem--">Вернуться назад</button>
        <button type="button" class="card__btn js-quiz-btn" @click="reseultCardQuiz()"><img src="assets/img/icons/arrow.png" alt="arrow">Дальше</button>
      </div>
    </div>

    <div class="quiz__test quiz__start quiz__step-three js-quiz" v-if="quizItem === 2">
      <div class="quiz__progress"></div>
      <p class="quiz__test-title">Что в пневматическом пистолете для вас приоритетно?</p>
      <p class="quiz__test-subtitle">По результатам теста вы получите один из подарков:</p>

      <div class="quiz__cards">
        <div class="quiz__item js-quiz-item" @click="getActiveCard($event)" data-active="false">
          <div class="quiz__checkbox">
            <div class="quiz__checkbox_active"></div>
          </div>
          <p class="quiz__item-text">Соотношение мощности и точности</p>
        </div>
        <div class="quiz__item js-quiz-item" @click="getActiveCard($event)" data-active="false">
          <div class="quiz__checkbox">
            <div class="quiz__checkbox_active"></div>
          </div>
          <p class="quiz__item-text">Внешний вид, максимальная схожесть с боевым оригиналом</p>
        </div>
        <div class="quiz__item js-quiz-item" @click="getActiveCard($event)" data-active="false">
          <div class="quiz__checkbox">
            <div class="quiz__checkbox_active"></div>
          </div>
          <p class="quiz__item-text">Наличие подвижной рамы и реалистичность выстрела</p>
        </div>
        <div class="quiz__item js-quiz-item" @click="getActiveCard($event)" data-active="false">
          <div class="quiz__checkbox">
            <div class="quiz__checkbox_active"></div>
          </div>
          <p class="quiz__item-text">Другое</p>
        </div>
      </div>
      <div class="quiz__btns">
        <button type="button" class="card__btn quiz__btn-back js-quiz-btn" @click="quizItem--">Вернуться назад</button>
        <button type="button" class="card__btn js-quiz-btn" @click="reseultCardQuiz()"><img src="assets/img/icons/arrow.png" alt="arrow">Дальше</button>
      </div>
    </div>

    <div class="quiz__test quiz__start quiz__step-four js-quiz" v-if="quizItem === 3">
      <div class="quiz__progress"></div>
      <p class="quiz__test-title">Важен ли для вас объём магазина?</p>
      <p class="quiz__test-subtitle">По результатам теста вы получите один из подарков:</p>

      <div class="quiz__cards">
        <div class="quiz__item js-quiz-item" @click="getActiveCard($event)" data-active="false">
          <div class="quiz__checkbox">
            <div class="quiz__checkbox_active"></div>
          </div>
          <p class="quiz__item-text">Да, хочу как можно больший</p>
        </div>
        <div class="quiz__item js-quiz-item" @click="getActiveCard($event)" data-active="false">
          <div class="quiz__checkbox">
            <div class="quiz__checkbox_active"></div>
          </div>
          <p class="quiz__item-text">Нет, не важен</p>
        </div>
      </div>
      <div class="quiz__btns">
        <button type="button" class="card__btn quiz__btn-back js-quiz-btn" @click="quizItem--">Вернуться назад</button>
        <button type="button" class="card__btn js-quiz-btn" @click="reseultCardQuiz()"><img src="assets/img/icons/arrow.png" alt="arrow">Дальше</button>
      </div>
    </div>

    <div class="quiz__test quiz__start quiz__step-end js-quiz" v-if="quizItem === 4">
      <div class="quiz__progress"></div>
      <p class="quiz__test-title">Мы нашли для вас 3 идеально подходящих модели и ещё несколько, которые могут вам понравиться</p>

      <div class="quiz__block">
        <form class="quiz__form">

          <p>На какой email выслать подборку?</p>
          <div class="input quiz__input" :class="{'invalid': $v.email.$error}">
            <img src="assets/img/icons/email-2.png" alt="arrow">
            <input
              type="email"
              name="email"
              placeholder="example@gmail.com"
              v-model="email"
              @blur="$v.email.$touch()"
            >
            <div class="invalid-text" v-if="!$v.email.required && $v.email.$error"><span>Обязательное поле</span></div>
            <div class="invalid-text" v-if="!$v.email.email && $v.email.$error"><span>Введите email</span></div>
          </div>
          <p class="quiz__answer">За каким номером телефона закрепить право на получение подарка?</p>
          <div class="input quiz__input" :class="{'invalid': $v.phone.$error}">
            <img src="assets/img/icons/icon-call-2.png" alt="arrow">
            <input
              type="text"
              name="phone"
              placeholder="+375 (____)______________"
              v-mask="mask"
              v-model="phone"
              @blur="$v.phone.$touch()"
            >
            <div class="invalid-text" v-if="!$v.phone.required && $v.phone.$error"><span>Обязательное поле</span></div>
          </div>

          <button
            type="submit"
            class="card__btn btn js-quiz-btn"
            :disabled="$v.email.$invalid || $v.phone.$invalid"
            @click.prevent="sendForm($event)"
          >
            <img src="assets/img/icons/arrow.png" alt="arrow"><p>Получить подборку пневматики и подарок</p>
          </button>


          <div class="magnets__agreement">
            <p>Нажимая на&nbsp;кнопку, вы&nbsp;даёте согласие на&nbsp;обработку персональных данных и&nbsp;соглашаетесь с
              <a href="#">Политикой конфиденциальности</a></p>
          </div>
        </form>
      </div>

    </div>

  </div>
</section>