.quiz {
  display:         flex;
  justify-content: center;
  margin-bottom:   170px;
  @include w-to(1920px) {
    margin-bottom: 188px;
  }
  @include w-to(1440px) {
    margin-bottom: 159px;
  }
  @include w-to(1024px) {
    margin-bottom: 130px;
  }
  @include w-to(768px) {
    flex-direction: column;
    align-items:    center;
    margin-bottom:  120px;
  }

  .container {
    display:        flex;
    flex-direction: column;
    align-items:    center;
  }

  &__title {
    @extend .catalog__title;

    @include w-to(1920px) {
      margin-bottom: 96px;
    }

    @include w-to(1440px) {
      margin-bottom: 70px;
    }
    @include w-to(1024px) {
      margin-bottom: 40px;
    }
  }

  .avatar {
    width:  160px;
    height: 160px;
  }

  &__prize {
    display:         flex;
    width:           100%;
    justify-content: flex-end;
    z-index:         5;
    padding-bottom:  30px;

    background:      url("../assets/img/catalog-weapon.png") 30px 45px no-repeat;
    @include w-to(1920px) {
      background: url("../assets/img/catalog-weapon.png") 30px 22px no-repeat;
    }
    @include w-to(1440px) {
      background:     url(../assets/img/catalog-weapon.png) 30px 74px/ 420px no-repeat;
      padding-bottom: 43px;
    }
    @include w-to(1024px) {
      background:     url(../assets/img/catalog-weapon.png) 30px 141px/ 300px no-repeat;
      padding-bottom: 15px;
    }
    @include w-to(768px) {
      flex-direction: column;
      align-items:    flex-start;
      background:     url(../assets/img/catalog-weapon.png) 30px 260px/ 300px no-repeat;
      padding-bottom: 19px;
    }
    @include w-to(425px) {
      background:     url(../assets/img/catalog-weapon.png) 0 260px/ 300px no-repeat;
    }

    &-text {
      max-width:   418px;
      width:       100%;
      position:    relative;
      padding-top: 21px;
      @include w-to(1920px) {
        padding-top: 0;
      }
      @include w-to(1440px) {
        max-width: 393px;
      }
      @include w-to(1024px) {
        max-width: 333px;
      }
      @include w-to(768px) {
        order:        1;
        padding-left: 31px;
        padding-top:  24px;
      }
      @include w-to(425px) {
        max-width: 100%;
        width: 100%;
        padding-left: 0;
      }

      &:before {
        content:     '“';
        position:    absolute;
        font-family: $font-family-2;
        font-style:  normal;
        font-weight: 200;
        font-size:   82px;
        line-height: 100%;
        color:       #868686;
        left:        -27px;
        top:         -9px;
        @include w-to(1920px) {
          top: -33px;
        }
        @include w-to(1024px) {
          top: -17px;
        }
        @include w-to(768px) {
          top:  -7px;
          left: 0;
        }
      }

      &_title {
        font-family:   $font-family-2;
        font-style:    normal;
        font-weight:   normal;
        font-size:     32px;
        line-height:   40px;
        color:         #FFFFFF;
        margin-bottom: 20px;
        @include w-to(1920px) {
          margin-bottom: 16px;
        }
        @include w-to(1440px) {
          font-size: 27px;
          max-width: 350px;
        }
        @include w-to(1024px) {
          font-size: 24px;
          max-width: 300px;
        }
        @include w-to(768px) {
          font-size:     20px;
          line-height:   32px;
          max-width:     250px;
          margin-bottom: 19px;
        }
      }

      &_subtitle {
        font-family:    $font-family-1;
        font-weight:    300;
        font-size:      24px;
        line-height:    32px;
        letter-spacing: 0.01em;
        color:          #FCDF7E;
        margin-bottom:  30px;
        @include w-to(1024px) {
          font-size:     20px;
          margin-bottom: 22px;
        }
        @include w-to(768px) {
          font-size:     18px;
          margin-bottom: 19px;
        }
      }

      &_name {
        font-family:    $font-family-1;
        font-weight:    300;
        font-size:      20px;
        line-height:    100%;
        letter-spacing: 0.01em;
        color:          #FFFFFF;
        margin-bottom:  10px;
      }

      &_job {
        font-family:    $font-family-1;
        font-weight:    300;
        font-size:      16px;
        line-height:    100%;
        letter-spacing: 0.01em;
        color:          #868686;
      }
    }

    &-img {
      position:     relative;
      margin-right: -24px;
      padding-top:  22px;
      max-width:    324px;
      width:        100%;
      height:       324px;
      background:   url("../assets/img/photo-owner-high.png") center/324px no-repeat;
      @include w-to(1920px) {
        padding-top:  0;
        margin-top:   -11px;
        margin-right: 18px;
        height:       335px;
        max-width:    324px;
        background:   url("../assets/img/photo-owner-high.png") 44px center/ 324px no-repeat;
      }
      @include w-to(1440px) {
        margin-top:   -11px;
        margin-right: -24px;
        height:       324px;
        background:   url("../assets/img/photo-owner-high.png") center center/ 324px no-repeat;
      }
      @include w-to(1024px) {
        margin-top:   74px;
        margin-right: -24px;
        max-width:    240px;
        height:       243px;
        background:   url("../assets/img/photo-owner-high.png") 9px/240px no-repeat;
      }
      @include w-to(768px) {
        order:         2;
        margin-top:    -44px;
        align-content: flex-end;
        align-self:    flex-end;
        margin-right:  -42px;
        height:        240px;
        background:    url("../assets/img/photo-owner-high.png") 9px/240px no-repeat;
      }
      @include w-to(425px) {
        margin-right: 0;
      }

      &:before {
        display:    inline-block;
        content:    '';
        background: url("../assets/img/icons/vector.svg") center center no-repeat;
        width:      160px;
        height:     160px;
        position:   absolute;
        left:       -91px;
        top:        132px;
        @include w-to(1920px) {
          top:  120px;
          left: -44px;
        }
        @include w-to(1440px) {
          width:      75px;
          height:     75px;
          top:        101px;
          left:       -27px;
          background: url("../assets/img/icons/vector.svg") center/ 75px no-repeat;
        }
        @include w-to(1024px) {
          top:  74px;
          left: -16px;
        }
        @include w-to(768px) {
          left: -14px;
        }
      }
    }
  }

  &__test {
    background-color: white;
    width:            100%;
    display:          flex;
    flex-direction:   column;
    align-items:      center;
    padding-top:      76px;
    border-radius:    8px;
    margin-top:       -55px;

    &-title {
      font-family:   $font-family-1;
      font-size:     32px;
      line-height:   40px;
      text-align:    center;
      color:         #343235;
      margin-bottom: 10px;
      font-weight:   300;
      @include w-to(1440px) {
        font-size: 24px;
      }
      @include w-to(1024px) {
        max-width:   370px;
        line-height: 32px;
      }
      @include w-to(768px) {
        font-size:   20px;
        line-height: 24px;
      }
    }

    &-subtitle {
      font-family:   $font-family-1;
      font-size:     14px;
      line-height:   100%;
      text-align:    center;
      color:         #343235;
      opacity:       0.7;
      margin-bottom: 52px;
      font-weight:   300;
      @include w-to(1024px) {
        margin-bottom: 27px;
      }
      @include w-to(768px) {
        max-width:     178px;
        margin-bottom: 35px;
      }
    }
  }

  &__progress {
    position:        relative;
    max-width:       730px;
    width:           100%;
    height:          30px;
    display:         flex;
    justify-content: flex-start;

    border:          1px solid #EAEAEA;
    box-sizing:      border-box;
    border-radius:   24px;
    margin-bottom:   29px;
    background:      url("../assets/img/progress.png") no-repeat;

    @include w-to(1440px) {
      max-width: 720px;
    }

    &:before {
      content:                    '';
      width:                      5%;
      height:                     100%;
      background:                 #0088CC;
      border-top-left-radius:     24px;
      border-bottom-left-radius:  24px;
      border-top-right-radius:    0;
      border-bottom-right-radius: 0;
    }

    &:after {
      position:       absolute;
      content:        'Осталось 4 шага';
      font-family:    $font-family-1;
      font-style:     normal;
      font-weight:    normal;
      font-size:      12px;
      line-height:    100%;
      text-align:     center;
      letter-spacing: 0.2px;
      color:          #868686;
      align-self:     center;
      align-content:  center;
      margin:         0 auto;
      width:          100%;
    }

    @include w-to(1024px) {
      max-width: 570px;
    }
    @include w-to(768px) {
      max-width: 281px;
    }
  }

  &__cards {
    max-width:       1010px;
    width:           100%;
    display:         flex;
    justify-content: space-between;
    margin-bottom:   66px;
    @include w-to(1440px) {
      justify-content: space-around;
    }
    @include w-to(1024px) {
      flex-direction:  column;
      align-items:     center;
      justify-content: flex-start;
      max-width:       570px;
      margin-bottom:   20px;
    }
    @include w-to(768px) {
      margin-bottom: 10px;
    }
  }

  .card__btn {
    display:         flex;
    justify-content: center;
    align-items:     center;
    position: static;

    img {
      width:        10px;
      height:       16px;
      margin-right: 20px;
    }
  }

  &__checkbox {
    position:        absolute;
    right:           10px;
    font-size:       100px;
    line-height:     0;
    text-align:      center;
    display:         flex;
    justify-content: center;
    align-items:     center;
    top:             10px;
    width:           20px;
    height:          20px;
    background:      #EAEAEA;
    border:          1px solid rgba(134, 134, 134, 0.3);
    box-sizing:      border-box;
    border-radius:   10px;
    pointer-events:  none;

    &_active {
      display:          none;
      content:          '';
      width:            10px;
      height:           10px;
      background-color: #0088CC;
      border-radius:    10px;
    }
  }

  &__item {
    cursor:    pointer;
    position:  relative;
    max-width: 300px;
    width:     100%;

    &[data-active="true"] {
      .quiz__item-img {
        border: 1px solid #0088CC;
      }

      .quiz__checkbox {
        background: white;
      }

      .quiz__checkbox_active {
        display: block;
      }
    }

    @include w-to(1440px) {
      max-width: 240px;
    }
    @include w-to(1024px) {
      max-width: 100%;
    }
    @include w-to(768px) {
      max-width: 280px;
    }

    &-img {
      border:          1px solid #EAEAEA;
      box-sizing:      border-box;
      border-radius:   4px;
      margin-bottom:   20px;
      display:         flex;
      justify-content: center;
      align-items:     center;
      width:           100%;
      max-width:       300px;
      height:          260px;
      pointer-events:  none;
      @include w-to(1440px) {
        max-width: 240px;
        width:     100%;
        img {
          max-width: 190px;
          width:     100%;
        }
      }
      @include w-to(1024px) {
        height:    160px;
        max-width: 100%;
        img {
          margin: 0 auto;
          max-width: 145px;
        }
      }
      @include w-to(768px) {
        margin-bottom: 10px;
        img {
          max-width: 160px;
        }
      }
      @include w-to(425px) {
        img {
          max-width: 150px;
        }
      }
    }

    &-text {
      font-family:    $font-family-2;
      font-style:     normal;
      font-weight:    normal;
      font-size:      24px;
      line-height:    32px;
      text-align:     center;
      color:          #343235;
      max-width:      210px;
      width:          100%;
      margin:         0 auto;
      pointer-events: none;

      @include w-to(1024px) {
        max-width:     325px;
        margin-bottom: 40px;
      }
      @include w-to(768px) {
        font-size:     20px;
        margin-bottom: 30px;
      }
    }
  }

  &__btns {
    display: flex;
    width:   100%;

    & > .quiz__btn-back {
      background: #EAEAEA;
    }
  }

  &__form {
    font-family: $font-family-1;
    font-style:  normal;
    font-weight: 300;
    font-size:   16px;
    line-height: 32px;
    color:       #343235;

    max-width:   445px;
    width:       100%;

    p {
      padding-left:  30px;
      margin-bottom: 11px;
    }

    .quiz__answer {
      line-height: 24px;
      max-width:   290px;
      width:       100%;
    }
  }

  &__block {
    max-width: 919px;
    width:     100%;
  }

  &__input {
    background:   #F5F5F5;
    border:       1px solid #D9D9DA;
    display:      flex;
    align-items:  center;
    padding-left: 28px;
    font-size:    18px;
    height:       68px;
    max-width:    415px;

    &:nth-child(2) {
      margin-bottom: 27px;
    }

    &:nth-child(4) {
      margin-bottom: 50px;
    }

    img {
      width:  18px;
      height: 13px;
    }

    input {
      width:       100%;
      height:      100%;
      margin-left: 14px;

      font-family: $font-family-1;
      font-style:  normal;
      font-weight: 300;
      font-size:   18px;
      line-height: 100%;
      color:       #868686;
    }
  }

  &__start {

    @include w-to(768px) {
      padding-top: 52px;
    }

    .quiz__cards {
      flex-direction:  column;
      align-items:     center;
      justify-content: flex-start;

      margin-bottom: 28px;
      @include w-to(1440px) {
        max-width: 809px;
      }
      @include w-to(1024px) {
        max-width: 570px;
        margin-bottom: 34px;
      }
      @include w-to(768px) {
        max-width: 280px;
        margin-bottom: 30px;
      }
    }

    .quiz__item {
      border:          1px solid #EAEAEA;
      box-sizing:      border-box;
      border-radius:   4px;
      max-width:       1010px;
      width:           100%;
      height:          90px;
      display:         flex;
      justify-content: center;
      align-items:     center;
      margin-bottom:   20px;

      &-text {
        max-width: 100%;
        @include w-to(1024px) {
          margin-bottom: 0;
          max-width: 320px;
        }
      }

      &[data-active="true"] {
        border: 1px solid #0088CC;
      }
    }
    .quiz__btns {
      @include w-to(768px) {
        flex-direction: column;
      }
    }
  }

  &__step-two {
    .quiz__progress {

      &:before {
        width: 24.5%;
      }

      &:after {
        content: 'Осталось 3 шага';
      }
    }

    .quiz__test-title {
      @include w-to(1024px) {
        max-width: 443px;
      }
      @include w-to(768px) {
        max-width: 230px;
      }
    }
    .quiz__test-subtitle {
      @include w-to(768px) {
        margin-bottom: 25px;
      }
    }
  }

  &__step-three {
    .quiz__progress {

      &:before {
        width: 49%;
      }

      &:after {
        content:        'Осталось 2 шага';
        mix-blend-mode: difference;
      }
    }
    .quiz__test-title {
      @include w-to(768px) {
        max-width: 310px;
      }
    }
    .quiz__test-subtitle {
      @include w-to(768px) {
        margin-bottom: 25px;
      }
    }
    .quiz__item:first-child {
      .quiz__item-text {
        @include w-to(768px) {
          max-width: 260px;
        }
      }
    }
    .quiz__item-text {
      @include w-to(768px) {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }

  &__step-four {
    .quiz__progress {

      &:before {
        width: 69%;
      }

      &:after {
        content: 'Остался 1 шаг';
        color:   white;
      }
    }
    .quiz__test-title {
      @include w-to(1024px) {
        max-width: 410px;
      }
      @include w-to(768px) {
        max-width: 165px;
      }
    }
    .quiz__test-subtitle {
      @include w-to(1024px) {
        margin-bottom: 31px;
      }
      @include w-to(768px) {
        margin-bottom: 25px;
      }
    }
    .quiz__item-text {
      @include w-to(1024px) {
        font-size: 24px;
        line-height: 32px;
      }
      @include w-to(768px) {
        font-size: 20px;
        line-height: 24px;
        max-width: 150px;
      }
    }
    .quiz__cards {
      @include w-to(1024px) {
        margin-bottom: 30px;
      }
    }
  }

  &__step-end {
    @include w-to(768px) {
      padding-top: 52px;
    }

    .quiz__progress {

      &:before {
        width:         100%;
        border-radius: 24px;
      }

      &:after {
        content: 'Вы успешно завершили тест!';
        color:   white;
      }
    }

    .quiz__block {
      position: relative;
      @include w-to(1024px) {
        display: flex;
        justify-content: center;
      }

      &:after {
        position: absolute;
        top: 0;
        right: -95px;
        content: '';
        width: 540px;
        height: 466px;
        background: url("../assets/img/quiz/quiz-book.png") no-repeat;

        @include w-to(1440px) {
          width: 375px;
          right: -75px;
        }
        @include w-to(1024px) {
          display: none;
        }
      }

      @include w-to(1440px) {
        max-width: 720px;
      }
    }

    .quiz__form {
      @include w-to(1440px) {
        max-width: 370px;
      }
      @include w-to(1024px) {
        max-width: 450px;
      }
      @include w-to(768px) {
        max-width: 100%;
      }
      p {
        @include w-to(768px) {
          padding-left: 38px;
        }
      }
    }

    .quiz__test-title {
      margin-bottom: 30px;
      max-width: 760px;

      @include w-to(1440px) {
        max-width: 580px;
      }
      @include w-to(768px) {
        margin-bottom: 20px;
      }
    }

    .card__btn {
      max-width: 445px;
      margin-bottom: 33px;
      @include w-to(1024px) {
        max-width: 450px;
      }
      @include w-to(768px) {
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
        font-size: 12px;
      }

      p {
        max-width: 265px;
        width:     100%;
        padding-left: 0;
        margin-bottom: 0;
        @include w-to(768px) {
          max-width: 210px;
        }
      }
    }

    .magnets__agreement {
      color: #868686;
      margin-bottom: 57px;
      @include w-to(1024px) {
        margin-bottom: 39px;
      }
      @include w-to(768px) {
        margin-bottom: 31px;
      }
      p {
        padding: 0;
        margin: 0;
      }
    }

    .quiz__input {
      @include w-to(1440px) {
        max-width: 340px;
      }
      @include w-to(1024px) {
        max-width: 420px;
      }
      @include w-to(768px) {
        max-width: 250px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &-magnit {
    margin-top:    -115px;
    margin-bottom: 153px;

    @include w-to(1440px) {
      margin-top:    -89px;
      margin-bottom: 133px;
    }
    @include w-to(1024px) {
      margin-top: -109px;
    }
    @include w-to(768px) {
      margin-top:    -101px;
      margin-bottom: 93px;
    }

    .quiz__prize.quiz__landing {
      background:    url(../assets/img/catalog-weapon-quiz.png) 30px 25px no-repeat;
      margin-bottom: 28px;

      @include w-to(1920px) {
        margin-bottom: 21px;
      }
      @include w-to(1440px) {
        background:    url(../assets/img/catalog-weapon-quiz.png) 73px 100px/ 420px no-repeat;
        margin-bottom: 36px;
      }
      @include w-to(1024px) {
        background:    url(../assets/img/catalog-weapon-quiz.png) 59px 91px/ 300px no-repeat;
        margin-bottom: 52px;
      }
      @include w-to(768px) {
        background:    url(../assets/img/catalog-weapon-quiz.png) 35px 235px/ 300px no-repeat;
        margin-bottom: 30px;
      }
      @include w-to(425px) {
        background:    url(../assets/img/catalog-weapon-quiz.png) center 255px/ 280px no-repeat;
      }
    }

    .quiz__name {
      font-family:   $font-family-1;
      font-style:    normal;
      font-weight:   300;
      font-size:     18px;
      line-height:   32px;
      text-align:    center;
      color:         #FFFFFF;
      margin-bottom: 30px;
      @include w-to(768px) {
        font-size:     16px;
        line-height:   24px;
        max-width:     265px;
        margin-bottom: 23px;
      }
    }

    .quiz__title {
      font-size:     50px;
      line-height:   65px;
      margin-bottom: 42px;
      @include w-to(1920px) {
        max-width: 815px;
      }
      @include w-to(1440px) {
        font-size: 45px;
      }
      @include w-to(1024px) {
        max-width:     600px;
        margin-bottom: 40px;
      }
      @include w-to(768px) {
        font-size:     25px;
        line-height:   40px;
        margin-bottom: 44px;
      }
    }

    .quiz__prize {
      padding-right: 59px;
      @include w-to(1440px) {
        padding-top: 21px;
      }
      @include w-to(1024px) {
        padding-top: 0;
      }
      @include w-to(768px) {
        padding-right: 0;
      }

      &-img {
        padding-top: 0;
        @include w-to(1920px) {
          margin-top: -4px;
        }
        @include w-to(1440px) {
          margin-right: 8px;
        }
        @include w-to(1024px) {
          margin-right: 3px;
          padding-top:  52px;
        }
        @include w-to(768px) {
          margin-right: -42px;
          margin-top:   -74px;
          padding-top:  0;
          background:   url(../assets/img/photo-owner-high.png) 16px -3px/234px no-repeat;

        }
        @include w-to(425px) {
          margin-right: 0;
          width: 200px;
          height: 200px;
          background:   url(../assets/img/photo-owner-high.png) 0 0/200px no-repeat;
          margin-top: 5px;
        }

        &:before {
          top: 113px;
          @include w-to(1024px) {
            top: 104px;
          }
          @include w-to(768px) {
            top: 72px;
          }
        }
      }

      &-text {
        @include w-to(1920px) {
          padding-top: 22px;
        }
        @include w-to(1440px) {
          max-width:   316px;
          padding-top: 38px;
        }
        @include w-to(1024px) {
          padding-top: 0;
          max-width:   277px;
        }
        @include w-to(768px) {
          padding-left: 36px;
        }
        @include w-to(425px) {
          padding-left: 0;
        }

        &:before {
          @include w-to(1920px) {
            top: -9px;
          }
          @include w-to(1440px) {
            top: 7px;
          }
          @include w-to(1024px) {
            top: -16px;
          }
          @include w-to(768px) {
            top:  -30px;
            left: 5px;
          }
        }

        &_title {
          max-width: 310px;
          @include w-to(1440px) {
            max-width: 255px;
          }
          @include w-to(1024px) {
            max-width: 230px;
          }
          @include w-to(768px) {
            max-width: 190px;
          }
        }

        &_subtitle {
          margin-bottom: 19px;
        }
      }

    }

    .quiz__get {
      width:           100%;
      margin-bottom:   127px;
      display:         flex;
      justify-content: space-around;
      @include w-to(1440px) {
        justify-content: space-between;
        margin-bottom:   95px;
      }
      @include w-to(1024px) {
        margin-bottom: 114px;
      }
      @include w-to(768px) {
        flex-direction: column;
        align-items:    center;
        margin-bottom:  95px;
      }
    }

    .quiz__icons {
      display:         flex;
      justify-content: space-between;
      max-width:       420px;
      width:           100%;
      margin-left:     -37px;
      font-family:     $font-family-1;
      font-style:      normal;
      font-weight:     300;
      font-size:       18px;
      line-height:     24px;
      text-align:      center;
      color:           #FFFFFF;
      @include w-to(1440px) {
        max-width:   362px;
        margin-left: 28px;
      }
      @include w-to(1024px) {
        max-width:   317px;
        margin-left: 7px;
      }
      @include w-to(768px) {
        margin-bottom: 39px;
      }
      @include w-to(425px) {
        margin-left: 0;
      }

      &-item {
        max-width: 137px;
        width:     100%;

        span {
          font-weight: 500;
        }

        img {
          margin-bottom: -10px;
        }
      }
    }

    .quiz__btn {
      font-size:     14px;
      margin-bottom: 33px;

      @include w-to(1440px) {
        max-width: 345px;
      }
      @include w-to(1024px) {
        max-width: 330px;
      }
      @include w-to(768px) {
        max-width: 340px;
      }
    }

    .quiz__get-btn {

      font-family: $font-family-1;
      font-size:   12px;
      line-height: 20px;
      text-align:  center;
      color:       #FFFFFF;

      p {
        &:before {
          content:      '';
          display:      inline-block;
          background:   url("../assets/img/icons/lock.png") center no-repeat;
          width:        12px;
          height:       16px;
          margin-right: 10px;
        }
      }
    }

    .quiz__second-title {
      @extend .quiz__title;
      margin-bottom: 134px;

      @include w-to(1440px) {
        margin-bottom: 114px;
      }
      @include w-to(768px) {
        margin-bottom: 105px;
      }
    }

    .quiz__test {
      padding-top: 49px;
      @include w-to(1024px) {
        padding-top: 40px;
      }
      @include w-to(768px) {
        padding-top: 30px;
      }
    }

    .quiz__cards {
      margin-bottom: 53px;
      @include w-to(1440px) {
        margin-bottom: 66px;
      }
      @include w-to(1024px) {
        margin-bottom: 20px;
      }
      @include w-to(768px) {
        margin-bottom: 10px;
      }
    }
  }
}
