<section class="benefits-top">
  <div class="container">
    <div class="benefits-top__block">

      <div class="benefits-top__item">
        <div class="benefits-top__img"><img src="assets/img/graphics.png" alt="Без сбора справок и оформления разрешений"></div>
        <div class="benefits-top__text">
          <p class="benefits-top__num">01</p>
          <p class="benefits-top__title">Без сбора справок и&nbsp;оформления разрешений</p>
          <p class="benefits-top__description">Вся наша пневматика имеет мощность до&nbsp;3&nbsp;Джоулей и&nbsp;согласно ЗАКОНУ РЕСПУБЛИКИ БЕЛАРУСЬ от&nbsp;13&nbsp;ноября 2001&nbsp;г. &#8470;&nbsp;61&nbsp;ОБ ОРУЖИИ относится к&nbsp;крнструктивно сходным с&nbsp;оружием изделиям (не&nbsp;считается оружием). Продаётся свободно, без разрешений лицам, старше 18&nbsp;лет и&nbsp;не&nbsp;требует регистрации в&nbsp;ОВД</p>
        </div>
      </div>
      <div class="benefits-top__item">
        <div class="benefits-top__text">
          <p class="benefits-top__num">02</p>
          <p class="benefits-top__title">Рассрочка с&nbsp;первым взносом через месяц</p>
          <p class="benefits-top__description">Вы&nbsp;получаете посылку с&nbsp;пистолетом или винтовкой сегодня и&nbsp;аксессуарами сегодня, а&nbsp;начинаете платить за&nbsp;него через месяц. Предлагаем покупку с&nbsp;выплатой равными частями на&nbsp;протяжении полугода</p>
        </div>
        <div class="benefits-top__img"><img src="assets/img/plastic_cards.png" alt="Рассрочка с первым взносом через месяц"></div>
      </div>
      <div class="benefits-top__item">
        <div class="benefits-top__img"><img src="assets/img/delivery-box.png" alt="Доставка за 24-36 часов даже в далёкий посёлок"></div>
        <div class="benefits-top__text">
          <p class="benefits-top__num">03</p>
          <p class="benefits-top__title">Доставка за&nbsp;24-36 часов даже в&nbsp;далёкий посёлок</p>
          <p class="benefits-top__description">Оформите заказ сегодня&nbsp;&mdash; и&nbsp;курьер доставит его&nbsp;лично в&nbsp;руки в&nbsp;течение ближайших 1-2 дней в&nbsp;любую точку Беларуси</p>
        </div>
      </div>

    </div>
  </div>
</section>