.benefits-top {
  display:         flex;
  justify-content: center;
  padding-top:     179px;
  margin-top:      -180px;
  margin-bottom:   150px;

  background:      url("../assets/img/tree-03.png") 211px 252px no-repeat,
                   url("../assets/img/tree-02.png") 1024px -10px no-repeat;

  @include w-from(2560px) {
    background:      url("../assets/img/tree-03.png") 500px 252px no-repeat,
                     url("../assets/img/tree-02.png") 1390px -10px no-repeat;
  }

  @include w-to(1920px) {
    background: url(../assets/img/tree-03.png) -28px 252px no-repeat,
                url(../assets/img/tree-02.png) 782px -10px no-repeat;
  }
  @include w-to(1440px) {
    background:    url(../assets/img/tree-03.png) -83px 368px no-repeat,
                   url(../assets/img/tree-02.png) 423px 84px no-repeat;
    margin-bottom: 130px;
  }
  @include w-to(1024px) {
    background: url(../assets/img/tree-02.png) 444px 72px/ 409px no-repeat;
  }
  @include w-to(768px) {
    background: url(../assets/img/tree-02.png) 198px 85px/ 341px no-repeat;
    margin-bottom: 120px;
  }
  @include w-to(425px) {
    background: url(../assets/img/tree-02.png) 150px 85px/ 341px no-repeat;
  }

  .container {
    @include w-to(768px) {
      max-width: 100%;
    }
  }

  &__block {
    background:     #FFFFFF;
    border-radius:  80px;
    padding-top:    70px;
    padding-bottom: 48px;
    position: relative;
    @include w-to(1440px) {
      padding-bottom: 56px;
    }
    @include w-to(1024px) {
      padding-top: 8px;
      padding-bottom: 98px;
    }
    @include w-to(768px) {
      border-radius: 40px;
      padding-bottom: 65px;
    }
    @include w-to(425px) {
      padding-left: 5px;
      padding-right: 5px;
      border-radius: 20px;
    }
  }

  &__item {
    display:         flex;
    justify-content: space-between;

    @include w-to(1024px) {
      flex-direction:  column;
      align-items:     center;
      justify-content: flex-start;
    }

    &:first-child, &:nth-child(2) {
      padding-left: 95px;
    }

    &:first-child {
      padding-right: 125px;
      margin-bottom: 148px;

      img {
        max-width: 400px;
        width:     100%;
        @include w-to(1440px) {
          max-width: 375px;
        }
        @include w-to(1024px) {
          max-width: 270px;
        }
      }

      .benefits-top__text {
        padding-top: 40px;
        max-width: 415px;
        @include w-to(1440px) {
          max-width: 360px;
        }
        @include w-to(1024px) {
          padding-top: 0;
          max-width:   507px;
          margin-top:  -22px;
        }
        @include w-to(768px) {
          margin-top: -4px;
        }
      }

      .benefits-top__title {
        @include w-to(1920px) {
          max-width: 370px;
        }
        @include w-to(1440px) {
          margin-bottom: 31px;
        }
        @include w-to(1024px) {
          max-width:     310px;
          margin-bottom: 23px;
        }
        @include w-to(768px) {
          margin-bottom: 19px;
          max-width: 280px;
        }
      }

      .benefits-top__description {
        @include w-to(1440px) {
          max-width: 360px;
          width:     100%;
        }
        @include w-to(1024px) {
          max-width: initial;
        }
      }

      .benefits-top__img {
        @include w-to(1440px) {
          padding-top: 7px;
        }
        @include w-to(768px) {
          max-width: 185px;
          padding-top: 38px;
        }
      }

      @include w-to(1440px) {
        padding-right: 60px;
        padding-left:  45px;
      }
      @include w-to(1024px) {
        padding-right: 0;
        padding-left:  0;
        margin-bottom: 10px;
      }
    }

    &:nth-child(2) {
      margin-bottom: 120px;

      .benefits-top__img {
        padding-top: 10px;
        @include w-to(1440px) {
          padding-top: 50px;
        }
        @include w-to(1024px) {
          order:       1;
          padding-top: 51px;
          margin-left: -28px;
          img {
            max-width: 480px;
          }
        }
        @include w-to(768px) {
          margin-left: 0;
          padding-top: 61px;
          img {
            max-width: 309px;
          }
        }
      }

      img {
        max-width: 635px;
        width:     100%;
      }
      @include w-to(1920px) {
        .benefits-top__title {
          max-width: 365px;
        }
      }
      @include w-to(1440px) {
        padding-left:  75px;
        margin-bottom: 170px;

        .benefits-top__text {
          max-width: 335px;
        }
        .benefits-top__title {
          max-width:     310px;
          width:         100%;
          margin-bottom: 33px;
        }
      }
      @include w-to(1024px) {
        padding-right: 0;
        padding-left:  0;
        margin-bottom: 68px;

        .benefits-top__text {
          order: 2;
          margin-top: -24px;
          max-width: 510px;
        }
        .benefits-top__title {
          margin-bottom: 24px;
        }
        .benefits-top__description {
          max-width: 447px;
        }
      }
      @include w-to(768px) {
        margin-bottom: 58px;
        .benefits-top__title {
          max-width: 250px;
          margin-bottom: 19px;
        }
      }
    }

    &:last-child {
      padding-left:  70px;
      padding-right: 138px;

      .benefits-top__text {
        padding-top: 30px;
      }

      img {
        max-width: 500px;
        width:     100%;
      }

      @include w-to(1920px) {
        .benefits-top__title {
          max-width: 365px;
        }
      }
      @include w-to(1440px) {
        padding-left: 20px;
        .benefits-top__text {
          max-width: 280px;
        }
        .benefits-top__title {
          margin-bottom: 32px;
        }
        .benefits-top__img {
          margin-top: -7px;
        }
      }
      @include w-to(1024px) {
        padding-right: 0;
        padding-left:  0;

        .benefits-top__img {
          max-width: 360px;
        }
        .benefits-top__text {
          padding-top: 0;
          max-width: 510px;
          margin-top: -24px;
        }
        .benefits-top__title {
          max-width: 274px;
          margin-bottom: 22px;
        }
      }
      @include w-to(768px) {
        .benefits-top__img {
          max-width: 247px;
        }
        .benefits-top__text {
          margin-top: -30px;
        }
        .benefits-top__title {
          margin-bottom: 16px;
        }
      }
    }

    @include w-to(768px) {
      max-width: 340px;
      margin: 0 auto;
    }

    @include w-to(425px) {
      max-width: 280px;
    }
  }

  &__text {
    &:first-child {
      max-width: 398px;
      width:     100%;
    }

    &:nth-child(2) {
      max-width: 370px;
      width:     100%;
    }

    &:last-child {
      max-width: 402px;
      width:     100%;
    }
  }

  &__num {
    font-family: $font-family-3;
    font-weight: 300;
    font-size:   32px;
    line-height: 48px;
    color:       #CCB780;
    @include w-to(1024px) {
      font-size: 24px;
    }
  }

  &__title {
    font-family:    $font-family-2;
    font-weight:    500;
    font-size:      32px;
    line-height:    48px;
    text-transform: uppercase;
    color:          #343235;
    margin-bottom:  32px;

    @include w-to(1920px) {
      font-size:     27px;
      margin-bottom: 22px;
    }
    @include w-to(1440px) {
      font-size:   24px;
      line-height: 40px;
    }
    @include w-to(768px) {
      font-size: 20px;
      line-height: 32px;
    }
  }

  &__description {
    font-family:    $font-family-1;
    font-size:      18px;
    line-height:    40px;
    letter-spacing: 0.2px;
    color:          #343235;
    opacity:        0.7;
    font-weight:    300;
    @include w-to(1440px) {
      font-size:   16px;
      line-height: 32px;
    }
    @include w-to(768px) {
      font-size: 14px;
    }
  }

}