<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head>
  {% include '../parts/meta.twig' %}

  {% block mediaQuery %}{% endblock %}

</head>

<body bgcolor="#eaeaea">
<!--[if mso]>
<table class="mso-container" align="center">
  <tr>
    <td>
<![endif]-->

<table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-spacing:0;">
  <tr>
    <td align="center" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;border-spacing: 0;">
      <center
        style="width:100%;min-width:100%;table-layout:fixed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
        <div style="max-width:600px;margin: 0 auto;">

          <!--[if (gte mso 9)|(IE)]>
          <table width="600" align="center" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;">
            <tr>
              <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;border-spacing: 0;">
          <![endif]-->

          <table align="center" border="0" cellpadding="0" cellspacing="0"
                 style="border-spacing:0;Margin:0 auto;width:100%;max-width:600px;">
            <tr>
              <td
                style="background:#eaeaea;-webkit-font-smoothing:antialiased;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;border-spacing: 0;">

                <table width="100%" cellpadding="0" cellspacing="0"border="0" style="-webkit-font-smoothing:antialiased;border-spacing:0;">
                  <tr style="-webkit-font-smoothing:antialiased;">
                    <td style="-webkit-font-smoothing:antialiased;width:100%;text-align:left;min-width:100%;border-spacing: 0">

                      <table width="100%" border="0" cellspacing="0" cellpadding="0"
                             style="-webkit-font-smoothing:antialiased;width:100%;text-align:left;min-width:100%;border-spacing: 0">
                        <tbody>

                        <tr>
                          <td align="center">

                            <table align="center" bgcolor="#eaeaea" class="b-container" align="center" style="border-spacing:0;"cellpadding="0" cellspacing="0" border="0">
                              <tr>
                                <td align="center">
                                  <table class="b-container__table-second" cellpadding="0" cellspacing="0"border="0" width="600"style="border-spacing:0;">
                                    <tr>
                                      <td align="center" style="border-spacing:0; background:#eaeaea;">
                                        {# Блок с телом письма #}
                                        {% block body %}{% endblock %}
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>


                          </td>
                        </tr>

                        </tbody>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>

          <!--[if (gte mso 9)|(IE)]>
          </td>
          </tr>
          </table>
          <![endif]-->

        </div>
      </center>
    </td>
  </tr>
</table>

<!--[if mso]>
</td>
</tr>
</table>
<![endif]-->

</body>
</html>