.hero {
  display:         flex;
  justify-content: center;
  margin-top:      -112px;

  background:      url("../assets/img/man.png") 21.250vw 50px no-repeat,
                   url("../assets/img/bullet.png") 13.229vw 287px no-repeat,
                   url("../assets/img/smoke.png") 0 44px no-repeat,
                   url("../assets/img/target-01.png") 74.271vw 173px no-repeat,
                   url("../assets/img/target-01.png") 51.406vw 748px/ 137px no-repeat;

  @include w-from(2560px) {
    background:      url("../assets/img/man.png") 29.250vw 50px no-repeat,
                     url("../assets/img/target-01.png") 74.271vw 173px no-repeat,
                     url("../assets/img/target-01.png") 51.406vw 748px/ 137px no-repeat;
  }

  @include w-to(1920px) {
    background: url(../assets/img/man.png) 11.458vw 50px no-repeat,
                url(../assets/img/bullet.png) 0.972vw 287px no-repeat,
                url(../assets/img/smoke.png) -16.736vw 44px no-repeat,
                url(../assets/img/target-01.png) 82.361vw 173px no-repeat,
                url(../assets/img/target-01.png) 51.875vw 748px/137px no-repeat;
  }
  @include w-to(1440px) {
    background: url(../assets/img/man.png) 7.520vw 92px/ 879px no-repeat,
                url(../assets/img/target-01.png) 71.973vw 104px no-repeat,
                url(../assets/img/target-01.png) 53.125vw 645px/137px no-repeat;
  }
  @include w-to(1024px) {
    background: url(../assets/img/man.png) 3.646vw 124px/ 729px no-repeat;
  }
  @include w-to(768px) {
    margin-top: -100px;
    background: url(../assets/img/man.png) 2.353vw 409px/ 425px no-repeat;
  }
  @include w-to(425px) {
    background: url(../assets/img/man.png) 4.353vw 517px/300px no-repeat;
  }

  &__special {
    font-family:   $font-family-1;
    font-style:    normal;
    font-weight:   300;
    font-size:     20px;
    line-height:   32px;
    color:         #FFFFFF;
    margin-bottom: 15px;
    @include w-to(1440px) {
      margin-bottom: 2px;
    }
    @include w-to(768px) {
      order: 2;
      margin-bottom: 32px;
    }
  }

  .container {
    padding-bottom: 80px;
    @include w-to(1440px) {
      padding-bottom: 30px;
    }
    @include w-to(1024px) {
      padding-bottom: 22px;
    }
    @include w-to(768px) {
      padding-bottom: 312px;
    }
    @include w-to(425px) {
      padding-bottom: 270px;
    }
  }

  &__block {
    max-width: 985px;
    width:     100%;
    @include w-to(1920px) {
      max-width: 930px;
    }
    @include w-to(1440px) {
      max-width: 760px;
    }
    @include w-to(768px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__title {
    font-family:    $font-family-2;
    font-style:     normal;
    font-weight:    500;
    font-size:      60px;
    line-height:    75px;
    text-transform: uppercase;
    color:          #FFFFFF;
    margin-bottom:  21px;
    @include w-to(1920px) {
      font-size:     55px;
      line-height:   70px;
      margin-bottom: 32px;
    }
    @include w-to(1440px) {
      font-size:     45px;
      line-height:   65px;
      margin-bottom: 13px;
    }
    @include w-to(1024px) {
      margin-bottom: 35px;
    }
    @include w-to(768px) {
      font-size: 25px;
      line-height: 40px;
      order: 1;
      margin-bottom: 8px;
    }
  }

  &__guarantee {
    display:        flex;
    align-items:    center;
    font-family:    $font-family-2;
    font-style:     normal;
    font-weight:    500;
    font-size:      16px;
    line-height:    100%;
    text-transform: uppercase;
    color:          #FF3C19;
    margin-bottom:  150px;

    @include w-to(1440px) {
      margin-bottom: 192px;
    }
    @include w-to(1024px) {
      margin-bottom: 181px;
    }
    @include w-to(768px) {
      order: 3;
      display: none;
    }
  }

  &__tag {
    width:           50px;
    height:          50px;
    border-radius:   50%;
    background:      #FF3C19;
    display:         flex;
    justify-content: center;
    align-items:     center;

    font-family:     $font-family-2;
    font-style:      normal;
    font-weight:     normal;
    font-size:       24px;
    line-height:     100%;
    text-align:      right;
    letter-spacing:  2px;
    text-transform:  uppercase;
    color:           #FFFFFF;
    position:        relative;
    margin-left:     10px;
    @include w-to(1440px) {
      width:  45px;
      height: 45px;
    }
    @include w-to(1024px) {
      font-size: 20px;
    }

    &:after {
      bottom:            10px;
      position:          absolute;
      content:           "";
      width:             6px;
      height:            6px;
      background:        #ff3c19;
      border-radius:     1px;
      -webkit-transform: matrix(1, 1, 0, 0, 0, 0);
      transform:         matrix(2, 4, 2, -4, 0, 1);
      z-index:           -1;
      @include w-to(1440px) {
        width:  5px;
        height: 5px;
      }
    }
  }

  &__benefits {
    display:       flex;

    font-family:   $font-family-1;
    font-size:     18px;
    line-height:   32px;
    color:         #FFFFFF;
    margin-bottom: 50px;
    font-weight:   300;
    @include w-to(1440px) {
      font-size:     16px;
      margin-bottom: 38px;
      p {
        margin-top: -10px;
      }
    }
    @include w-to(1024px) {
      font-size:     14px;
      line-height:   24px;
      margin-bottom: 27px;
    }
    @include w-to(768px) {
      order: 4;
      margin-bottom: 46px;
    }
  }

  &__item {
    max-width: 187px;
    width:     100%;
    @include w-to(1024px) {
      max-width: 150px;
    }

    &:first-child {
      margin-right: 28px;
      @include w-to(1440px) {
        margin-right: 38px;
      }
      @include w-to(1024px) {
        margin-right: 32px;
      }
    }

    &:last-child {
      img {
        margin-bottom: 14px;
      }
    }
  }

  &__btn {
    margin-bottom:   84px;
    display:         flex;
    justify-content: center;
    align-items:     center;
    @include w-to(1440px) {
      max-width:     345px !important;
      margin-bottom: 39px;
    }
    @include w-to(1024px) {
      max-width: 330px !important;
    }
    @include w-to(768px) {
      max-width: 340px !important;
    }

    img {
      width:        10px;
      height:       16px;
      margin-right: 20px;
    }
    @include w-to(768px) {
      order: 5;
    }
  }

  &__scroll {
    display:         flex;
    flex-direction:  column;
    align-items:     center;
    justify-content: center;
    @include w-to(1024px) {
      display: none;
    }
  }

  &__point {
    width:         10px;
    height:        10px;
    border:        1px solid #FFFFFF;
    border-radius: 50%;
    margin-bottom: 10px;
    cursor:        pointer;
    @include w-to(1440px) {
      margin-bottom: 8px;
    }

    &:first-child {
      opacity: 0.3;
    }

    &:nth-child(2) {
      opacity: 0.5;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}