<section class="hero">
  <div class="container">
    <div class="hero__block">
      <div class="hero__special"><p>От 33 рублей в рассрочку</p></div>
      <h1 class="hero__title">Легальные пневматические винтовки без лицензии</h1>
      <div class="hero__guarantee">
        <p>Гарантия 18 месяцев</p>
        <div class="hero__tag"><p>18</p></div>
      </div>
      <div class="hero__benefits">
        <div class="hero__item"><img src="assets/img/bullets.png" alt="Подарим стартовый набор">
          <p>Подарим стартовый набор для стрельбы</p>
        </div>
        <div class="hero__item"><img src="assets/img/delivery.png" alt="доставим за 1 день">
          <p>Доставим за 1 день в любую точку Беларуси</p>
        </div>
      </div>
      <button type="button" class="btn hero__btn" @click="scrollToCatalog(2)"><img src="assets/img/icons/arrow.png" alt="arrow">Выбрать винтовку</button>
    </div>
    <div class="hero__scroll">
      <div class="hero__point"></div>
      <div class="hero__point"></div>
      <div class="hero__point"></div>
    </div>
  </div>
</section>