.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    @include w-to(1024px) {
      max-width: 100%;
    }
  }

  &__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;

    &:first-child {
      margin-bottom: 52px;

      .footer__copy {
        display: none;
      }

      @include w-to(1440px) {
        margin-bottom: 44px;
        padding: 0 16px;
        justify-content: space-between;
      }
      @include w-to(1024px) {
        height: 261px;
        margin-bottom: 30px;
      }
      @include w-to(768px) {
        align-items: center;
        justify-content: flex-start;
        padding: 0;
        height: auto;

        .footer__copy {
          order: 2;
          display: block;
          margin-bottom: 50px;
        }
      }
    }

    &:last-child {
      align-items: flex-start;
      justify-content: space-between;
      padding: 0 36px;
      @include w-to(1440px) {
        padding: 0 14px;
      }
      @include w-to(768px) {
        align-items: center;
      }
    }

    @include w-to(768px) {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
  }

  &__social {
    display: flex;
    justify-content: space-between;
    max-width: 212px;
    margin-left: 12px;
    width: 100%;
    @include w-to(1024px) {
      align-self: flex-end;
      margin-left: 82px;
      margin-right: -100px;
    }
    @include w-to(768px) {
      margin-right: 0;
      align-self: initial;
      margin-left: 0;
      order: 3;
      margin-bottom: 26px;
    }
  }

  &__icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    max-width: 310px;
    width: 100%;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-right: -40px;
    @include w-to(1024px) {
      align-self: flex-start;
    }
    @include w-to(768px) {
      align-self: center;
      order: 1;
      margin-right: 0;
      margin-bottom: 30px;
    }

    &:before {
      $width: 600px;
      max-width: $width;
      width: 100%;
      height: 300px;
      position: absolute;
      content: '';
      background: url("../assets/img/logo-footer.svg") center center no-repeat;
      left: 262px;
      top: -130px;
      @include w-to(1920px) {
        left: 256px;
      }
      @include w-to(1440px) {
        left: initial;
      }
    }

    p {
      font-weight: 300;
      font-size: 18px;
      text-align: center;
      letter-spacing: 0.2px;
    }
  }

  &__text {
    font-family: $font-family-1;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.2px;
    color: #868686;
  }

  &__mail {
    font-family: $font-family-2;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-right: -21px;
    @include w-to(1440px) {
      font-size: 20px;
      margin-left: 29px;
      margin-right: 3px;
    }
    @include w-to(1024px) {
      align-self: flex-end;
      margin-right: 72px;
      margin-left: -67px;
      padding-bottom: 20px;
    }
    @include w-to(768px) {
      margin-right: 0;
      align-self: initial;
      margin-left: 0;
      order: 4;
    }

    img {
      margin-right: 10px;
      width: 20px;
      height: 16px;
      padding-top: 10px;
    }
  }

  &__address {
    font-family: $font-family-1;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    max-width: 280px;
    text-align: center;
    @include w-to(1440px) {
      font-size: 14px;
    }
    @include w-to(1024px) {
      margin-left: 69px;
      margin-right: -40px;
    }
    @include w-to(768px) {
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 33px;
    }
  }

  &__copy {
    font-family: $font-family-1;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #868686;
    @include w-to(1440px) {
      font-size: 14px;
    }
    @include w-to(1024px) {
      margin-top: -166px;
    }
    @include w-to(768px) {
      margin-top: 0;
      display: none;
    }
  }

  &__conf {
    font-family: $font-family-1;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    text-align: right;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #CCB780;
    @include w-to(1440px) {
      font-size: 11px;
      letter-spacing: 1px;
    }
    @include w-to(1024px) {
      margin-right: 74px;
      margin-left: -37px;
    }
    @include w-to(768px) {
      margin-right: 0;
      margin-left: 0;
    }

    a {
      display: inline-block;
      text-decoration: none;
      margin-bottom: 4px;
    }

    .line {
      width: 100%;
      height: 1px;
      background: rgba(204, 183, 128, 0.3);
    }
  }

  &__images {
    height: 575px;
    width: 100%;

    background: url("../assets/img/footer-tree-1.png") left 0 no-repeat,
    url("../assets/img/footer-tree-2.png") right 59px no-repeat,
    url("../assets/img/weapon-revolver.png") 137px 236px no-repeat,
    url("../assets/img/main-vintovka.png") right 40px no-repeat;

    @include w-to(1920px) {
      height: 559px;
      background: url(../assets/img/footer-tree-l-1440.png) left 0 no-repeat,
      url(../assets/img/footer-tree-r-1440.png) right 50px no-repeat,
      url(../assets/img/weapon-revolver.png) -103px 235px no-repeat,
      url(../assets/img/main-vintovka.png) 141px 39px no-repeat;
    }
    @include w-to(1440px) {
      height: 427px;
      background: url(../assets/img/footer-tree-l-1024.png) left -135px no-repeat,
      url(../assets/img/footer-tree-r-1024.png) right -85px no-repeat,
      url(../assets/img/weapon-revolver.png) -69px 180px/450px no-repeat,
      url(../assets/img/main-vintovka.png) 46px 25px/1211px no-repeat;
    }
    @include w-to(1024px) {
      height: 320px;
      background: url(../assets/img/footer-tree-l-768.png) left -194px no-repeat,
      url(../assets/img/footer-tree-r-768.png) right -150px no-repeat,
      url(../assets/img/weapon-revolver.png) -33px 138px/362px no-repeat,
      url(../assets/img/main-vintovka.png) 85px 18px/928px no-repeat;
    }
    @include w-to(768px) {
      height: 221px;
      background: url(../assets/img/footer-tree-l-425.png) left -60px no-repeat,
      url(../assets/img/footer-tree-r-425.png) right -38px no-repeat,
      url(../assets/img/weapon-revolver.png) 21px 111px/186px no-repeat,
      url(../assets/img/main-vintovka.png) 72px 46px/501px no-repeat;
    }
  }
}

.footer-quiz {
  .footer__row {
    &:first-child {
      display: none;
    }

    &:last-child {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .footer__copy {
        order: 2;
        @include w-to(1440px) {
          font-size: 16px;
        }
        @include w-to(1024px) {
          margin-top: 0;
        }
        @include w-to(768px) {
          display: block;
        }
      }

      .footer__conf {
        order: 1;
        margin-bottom: 29px;
        @include w-to(1440px) {
          font-size: 12px;
          letter-spacing: 2px;
        }
        @include w-to(1024px) {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  .footer__address {
    display: none;
  }

  .footer__images {
    height: 255px;
    background: url(../assets/img/footer-tree-1.png) left -203px no-repeat,
    url(../assets/img/footer-tree-2.png) right -154px no-repeat;
    @include w-to(1920px) {
      height: 290px;
      margin-top: -35px;
      background: url(../assets/img/footer-tree-l-1440.png) left -168px no-repeat,
      url(../assets/img/footer-tree-r-1440.png) right -120px no-repeat;
    }
    @include w-to(1440px) {
      height: 299px;
      margin-top: -73px;
      background: url(../assets/img/footer-tree-l-1024.png) left -258px no-repeat,
      url(../assets/img/footer-tree-r-1024.png) right -208px no-repeat;
    }
    @include w-to(1024px) {
      height: 282px;
      margin-top: -73px;
      background: url(../assets/img/footer-tree-l-768.png) -78px -199px no-repeat,
      url(../assets/img/footer-tree-r-768.png) right -150px no-repeat;
    }
    @include w-to(768px) {
      background: url(../assets/img/footer-tree-l-425.png) -64px 21px no-repeat,
      url(../assets/img/footer-tree-r-425.png) right 37px no-repeat;
    }
  }
}

.footer-magnets {
  @extend .footer-quiz;

  .footer__images {
    margin-top: -70px;
    height: 322px;
    background: url(../assets/img/footer-tree-1.png) left -165px no-repeat,
    url(../assets/img/footer-tree-2.png) right -116px no-repeat;
    @include w-to(1920px) {
      height: 322px;
      margin-top: -145px;
      background: url(../assets/img/footer-tree-l-1440.png) left -156px no-repeat,
      url(../assets/img/footer-tree-r-1440.png) right -106px no-repeat;
    }
    @include w-to(1440px) {
      height: 318px;
      margin-top: -145px;
      background: url(../assets/img/footer-tree-l-1024.png) left -187px no-repeat,
      url(../assets/img/footer-tree-r-1024.png) right -137px no-repeat;
    }
    @include w-to(1024px) {
      height: 236px;
    }
    @include w-to(768px) {
      margin-top: -41px;
      background: url(../assets/img/footer-tree-l-425.png) left -44px no-repeat,
      url(../assets/img/footer-tree-r-425.png) right -23px no-repeat;
    }
  }
}

.ables {
  display: none;
  align-items: center;
  position: relative;
  bottom: -155px;

  font-family: $font-family-1;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  @include w-to(1440px) {
    bottom: -130px;
  }
  @include w-to(1024px) {
    bottom: -90px;
  }
  @include w-to(768px) {
    bottom: -65px;
  }

  p {
    margin-right: 10px;
  }
}