<footer class="footer {{ class }}">
  <div class="container">
    <div class="footer__row">
      <div class="footer__item footer__social">
        <a href="https://www.youtube.com/channel/UCL_JEvMzLL54y0I5TkhXEhw" target="_blank" class="footer__icon">
          <img src="assets/img/icons/utube.svg" alt="youtube">
        </a>
        <a href="https://www.instagram.com/argument_guns/" target="_blank" class="footer__icon">
          <img src="assets/img/icons/insta.svg" alt="insta">
        </a>
        <a href="https://vk.com/argument_guns" target="_blank" class="footer__icon">
          <img src="assets/img/icons/vk.svg" alt="vk">
        </a>
      </div>
      <div class="footer__item footer__copy">
        <p>Все права защищены ©</p>
      </div>
      <div class="footer__item footer__logo">
          <p class="footer__text">Магазин пневматики в Беларуси</p>
      </div>
      <a href="mailto:argumentguns@yandex.ru" style="text-decoration: none;" class="footer__item footer__mail">
        <img src="assets/img/icons/email.png" alt="mail">
        <p>argumentguns@yandex.ru</p>
      </a>
    </div>
    <div class="footer__row">
      <div class="footer__item footer__address">
        <p>Юр. Адрес: ул. Коммунистическая 13а /56 ИП Рудой А.С. УНП 291029158
        </p>
      </div>
      <div class="footer__item footer__copy">
        <p>Все права защищены ©</p>
      </div>
      <div class="footer__item footer__conf">
        <a href="#" @click.prevent="conf = true">Политика конфиденциальности</a>
        <div class="line"></div>
      </div>
    </div>
  </div>

  <div class="ables">
    <p>Разработано:</p><a href="http://ables.agency/?utm_source=case&utm_medium=site&utm_campaign=argument" target="_blank">
    <img src="assets\img\icons\ables.png" alt="Ables agency">
    </a>
  </div>

  <div class="footer__images"></div>
</footer>