
@font-face {
  font-family:  'HelveticaNeueCyr-black';
  font-style:   normal;
  font-weight:  400;
  src:          local(''),
                url('http://newsite-dev.ru/Argument/assets/fonts/HelveticaNeueCyr/HelveticaBlack.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
                url('http://newsite-dev.ru/Argument/assets/fonts/HelveticaNeueCyr/HelveticaBlack.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

@font-face {
  font-family:  'HelveticaNeueCyr';
  font-style:   normal;
  font-weight:  100;
  src:          local(''),
                url('http://newsite-dev.ru/Argument/assets/fonts/HelveticaNeueCyr/HelveticaThin.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
                url('http://newsite-dev.ru/Argument/assets/fonts/HelveticaNeueCyr/HelveticaThin.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

@font-face {
  font-family:  'HelveticaNeueCyr';
  font-style:   normal;
  font-weight:  300;
  src:          local(''),
                url('http://newsite-dev.ru/Argument/assets/fonts/HelveticaNeueCyr/HelveticaLight.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
                url('http://newsite-dev.ru/Argument/assets/fonts/HelveticaNeueCyr/HelveticaLight.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

@font-face {
  font-family:  'HelveticaNeueCyr';
  font-style:   normal;
  font-weight:  400;
  src:          local(''),
                url('http://newsite-dev.ru/Argument/assets/fonts/HelveticaNeueCyr/HelveticaRegular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
                url('http://newsite-dev.ru/Argument/assets/fonts/HelveticaNeueCyr/HelveticaRegular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

@font-face {
  font-family:  'HelveticaNeueCyr';
  font-style:   normal;
  font-weight:  500;
  src:          local(''),
                url('http://newsite-dev.ru/Argument/assets/fonts/HelveticaNeueCyr/HelveticaMedium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
                url('http://newsite-dev.ru/Argument/assets/fonts/HelveticaNeueCyr/HelveticaMedium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

@font-face {
  font-family:  'HelveticaNeueCyr';
  font-style:   normal;
  font-weight:  700;
  src:          local(''),
                url('http://newsite-dev.ru/Argument/assets/fonts/HelveticaNeueCyr/HelveticaBold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
                url('http://newsite-dev.ru/Argument/assets/fonts/HelveticaNeueCyr/HelveticaBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
