.catalog {
  display:         flex;
  justify-content: center;
  margin-bottom:   159px;

  @include w-to(1920px) {
    margin-bottom: 116px;
  }
  @include w-to(1440px) {
    margin-bottom: 56px;
  }
  @include w-to(1024px) {
    margin-bottom: 63px;
  }
  @include w-to(768px) {
    margin-bottom: 107px;
  }

  .container {
    display:        flex;
    flex-direction: column;
    align-items:    center;
  }

  &__title {
    max-width:      820px;
    width:          100%;
    font-family:    $font-family-2;
    font-weight:    500;
    font-size:      65px;
    line-height:    75px;
    text-align:     center;
    text-transform: uppercase;
    color:          #FFFFFF;
    margin-bottom:  80px;
    @include w-to(1920px) {
      font-size:     55px;
      line-height:   70px;
      max-width:     750px;
      margin-bottom: 97px;
    }
    @include w-to(1440px) {
      font-size:     45px;
      line-height:   65px;
      max-width:     610px;
      margin-bottom: 50px;
    }
    @include w-to(768px) {
      font-size:     25px;
      line-height:   40px;
      margin-bottom: 41px;
    }
  }

  &__items {
    width: 100%;
  }

  &__tabs {
    display:         flex;
    justify-content: space-between;
    font-family:     $font-family-1;
    font-size:       20px;
    line-height:     24px;
    text-align:      center;
    color:           #FFFFFF;
    font-weight:     400;
    margin-bottom:   56px;
    @include w-to(1440px) {
      font-size:     16px;
      margin-bottom: 60px;
    }
    @include w-to(1024px) {
      margin-bottom: 50px;
    }
    @include w-to(768px) {
      flex-direction:  column;
      align-items:     center;
      justify-content: flex-start;
      margin-bottom:   40px;
    }
  }

  &__tab {
    max-width:       255px;
    width:           100%;
    max-height:      56px;
    min-height:      56px;
    height:          100%;
    display:         flex;
    justify-content: center;
    align-items:     center;
    cursor: pointer;
    @include w-to(1440px) {
      max-width: 195px;
    }
    @include w-to(1024px) {
      max-width: 149px;
    }
    @include w-to(768px) {
      max-width:     100%;
      margin-bottom: 13px;
    }
    @include w-to(425px) {
      max-width: 280px;
    }

    a {
      text-decoration: none;
      max-width:       135px;
      pointer-events:  none;
      @include w-to(1440px) {
        max-width: 110px;
      }
      @include w-to(768px) {
        max-width: 100%;
      }
    }
  }

  .active {
    color:         #FCDF7E;
    border:        2px solid #FCDF7E;
    border-radius: 40px;
    max-width:     251px;

    @include w-to(1440px) {
      max-width: 191px;
    }
    @include w-to(1024px) {
      max-width: 146px;
    }
    @include w-to(768px) {
      max-width: 100%;
    }
    @include w-to(425px) {
      max-width: 280px;
    }
  }

  &__cards {
    display:               grid;
    grid-template-columns: repeat(auto-fill, 350px);
    grid-gap:              1rem;
    justify-content:       space-between;

    @include w-to(1440px) {
      grid-template-columns: repeat(auto-fill, 420px);
    }
    @include w-to(1024px) {
      grid-template-columns: repeat(auto-fill, 330px);
    }
    @include w-to(768px) {
      grid-template-columns: repeat(auto-fill, 340px);
    }
    @include w-to(425px) {
      grid-template-columns: repeat(auto-fill, 300px);
    }
  }
}