{% set data = {
  rifles: [
    {
      image: 'assets/img/catalog/item-1.jpg',
      name: 'Hatsan Striker Alpha',
      speedStandart: '145 м/с',
      speedStrong: '305 м/с',
      material: 'Сталь',
      trunk: 'Нарезной',
      bed: 'Оружейный пластик',
      priceOld: 289,
      priceNew: 289,
      credit: "54 рубля",
      manufacturer: 'Hatsan (Турция)',
      warranty: '12 месяцев',
      prototype: '',
      caliber: '4,5 мм (.177)',
      action: 'Пружинно-поршневая пневматика',
      power: 'Пружина, взведение "переламываением" ствола',
      energy: 'До 3 Дж',
      Ammunition: 'Пули 4,5 мм',
      Capacity: '1 пуля',

    },
    {
      image: 'assets/img/catalog/item-2.jpg',
      name: 'Hatsan Striker',
      speedStandart: '145 м/с',
      speedStrong: '305 м/с',
      material: 'Сталь',
      trunk: 'Нарезной',
      bed: 'Оружейный пластик',
      priceOld: 249,
      priceNew: 249,
      credit: "48 рублей"
    },
    {
      image: 'assets/img/catalog/item-3.jpg',
      name: 'Strike one B013',
      speedStandart: '130 м/с',
      speedStrong: '175 м/с',
      material: 'Сталь',
      trunk: 'Нарезной',
      bed: 'Дерево(дуб)',
      priceOld: 181,
      priceNew: 181,
      credit: "35 рублей"
    },
    {
      image: 'assets/img/catalog/item-4.jpg',
      name: 'Strike one B017',
      speedStandart: '130 м/с',
      speedStrong: '175 м/с',
      material: 'Сталь',
      trunk: 'Нарезной',
      bed: 'Пластик (полимер)',
      priceOld: 248,
      priceNew: 248,
      credit: "48 рублей"
    },
    {
      image: 'assets/img/catalog/item-5.jpg',
      name: 'МР 61с',
      speedStandart: '135 м/с',
      material: 'Оружейная сталь',
      trunk: 'Нарезной',
      bed: 'Пластик',
      priceOld: 213,
      priceNew: 213,
      credit: "40 рублей"
    },
    {
      image: 'assets/img/catalog/item-6.jpg',
      name: 'Gamo Delta Fox GT',
      speedStandart: '140 м/с',
      material: 'Сталь',
      trunk: 'Нарезной',
      bed: 'Пластик (полимер)',
      priceOld: 293,
      priceNew: 293,
      credit: "48 рублей"
    },
    {
      image: 'assets/img/catalog/item-7.jpg',
      name: 'МР 512 01',
      speedStandart: '105 м/с',
      speedStrong: '175 м/с',
      material: 'Оружейная сталь',
      trunk: 'Нарезной',
      bed: 'Пластик',
      priceOld: 179,
      priceNew: 179,
      credit: "33 рубля"
    },
    {
      image: 'assets/img/catalog/item-8.jpg',
      name: 'МР 512 00',
      speedStandart: '105 м/с',
      speedStrong: '175 м/с',
      material: 'Оружейная сталь',
      trunk: 'Нарезной',
      bed: 'Пластик',
      priceOld: 199,
      priceNew: 199,
      credit: "36 рублей"
    },
  ],
  pistols: [
    {
      image: 'assets/img/catalog/item-6.jpg',
      name: 'Gamo Delta Fox GT',
      speedStandart: '140 м/с',
      material: 'Сталь',
      trunk: 'Нарезной',
      bed: 'Пластик (полимер)',
      priceOld: 293,
      priceNew: 293,
      credit: "48 рублей"
    },
    {
      image: 'assets/img/catalog/item-7.jpg',
      name: 'МР 512 01',
      speedStandart: '105 м/с',
      speedStrong: '175 м/с',
      material: 'Оружейная сталь',
      trunk: 'Нарезной',
      bed: 'Пластик',
      priceOld: 179,
      priceNew: 179,
      credit: "33 рубля"
    },
    {
      image: 'assets/img/catalog/item-8.jpg',
      name: 'МР 512 00',
      speedStandart: '105 м/с',
      speedStrong: '175 м/с',
      material: 'Оружейная сталь',
      trunk: 'Нарезной',
      bed: 'Пластик',
      priceOld: 199,
      priceNew: 199,
      credit: "36 рублей"
    },
  ],
  accessories: [
    {
      image: 'assets/img/catalog/item-6.jpg',
      name: 'Gamo Delta Fox GT',
      speedStandart: '140 м/с',
      material: 'Сталь',
      trunk: 'Нарезной',
      bed: 'Пластик (полимер)',
      priceOld: 293,
      priceNew: 293,
      credit: "48 рублей"
    },
    {
      image: 'assets/img/catalog/item-7.jpg',
      name: 'МР 512 01',
      speedStandart: '105 м/с',
      speedStrong: '175 м/с',
      material: 'Оружейная сталь',
      trunk: 'Нарезной',
      bed: 'Пластик',
      priceOld: 179,
      priceNew: 179,
      credit: "33 рубля"
    },
    {
      image: 'assets/img/catalog/item-8.jpg',
      name: 'МР 512 00',
      speedStandart: '105 м/с',
      speedStrong: '175 м/с',
      material: 'Оружейная сталь',
      trunk: 'Нарезной',
      bed: 'Пластик',
      priceOld: 199,
      priceNew: 199,
      credit: "36 рублей"
    },
  ],
  bows: [
    {
      image: 'assets/img/catalog/item-6.jpg',
      name: 'Gamo Delta Fox GT',
      speedStandart: '140 м/с',
      material: 'Сталь',
      trunk: 'Нарезной',
      bed: 'Пластик (полимер)',
      priceOld: 293,
      priceNew: 293,
      credit: "48 рублей"
    },
    {
      image: 'assets/img/catalog/item-7.jpg',
      name: 'МР 512 01',
      speedStandart: '105 м/с',
      speedStrong: '175 м/с',
      material: 'Оружейная сталь',
      trunk: 'Нарезной',
      bed: 'Пластик',
      priceOld: 179,
      priceNew: 179,
      credit: "33 рубля"
    },
    {
      image: 'assets/img/catalog/item-8.jpg',
      name: 'МР 512 00',
      speedStandart: '105 м/с',
      speedStrong: '175 м/с',
      material: 'Оружейная сталь',
      trunk: 'Нарезной',
      bed: 'Пластик',
      priceOld: 199,
      priceNew: 199,
      credit: "36 рублей"
    },
  ]
} %}

<section class="catalog">
  <div class="container">

    <div class="catalog__title"><p>Выберите свою пневматику из самых популярных моделей этого года</p></div>

    <div class="catalog__items">

      <div class="catalog__tabs">
        <div @click="activeTab(1, $event)" class="catalog__tab active" data-index="1"><a href="#">Пистолеты</a></div>
        <div @click="activeTab(2, $event)" class="catalog__tab" data-index="2"><a href="#">Винтовки</a></div>
        <div @click="activeTab(3, $event)" class="catalog__tab" data-index="3"><a href="#">Акксесуары к&nbsp;пневматике</a></div>
        <div @click="activeTab(4, $event)" class="catalog__tab" data-index="4"><a href="#">Луки и арбалеты</a></div>
      </div>

      <div v-if="tab === 1" class="catalog__cards pistols" :data-index="tab">
        <template v-for="item in catalog[0]">
          {% include 'card/card.twig' %}
        </template>
      </div>

      <div v-if="tab === 2" class="catalog__cards rifles" :data-index="tab">
        <template v-for="item in catalog[1]">
          {% include 'card/card.twig' %}
        </template>
      </div>

      <div v-if="tab === 3" class="catalog__cards accessories" :data-index="tab">
        <template v-for="item in catalog[2]">
          {% include 'card/card.twig' %}
        </template>
      </div>

      <div v-if="tab === 4" class="catalog__cards bows" :data-index="tab">
        <template v-for="item in catalog[3]">
          {% include 'card/card.twig' %}
        </template>
      </div>

    </div>

  </div>
</section>