<!doctype html>
<html lang="ru">
{% include "parts/meta.twig" %}
<body class="body magnets-body">

<div class="main" id="app">
  {% include "../blocks/browser-update/browser-update.twig" %}
  {% include "../blocks/header/header.twig" with {
    class: 'header-magnits'
  } %}

  {% include '../blocks/magnets/magnets.twig' with {
    class: 'magnets__bg-all',
    title: 'Самые мощные модели бюджетной пневматики без лицензии',
    load: '<span>Скачайте подборку самых удачных моделей в&nbsp;ценовом сегменте от&nbsp;210 рублей</span>',
    cat: 'true'
  } %}

  {% include "../blocks/footer/footer.twig" with {
    class: 'footer-quiz'
  } %}
  {% include "../blocks/popups/conf.twig" %}
</div>

</body>
</html>
