<!doctype html>
<html lang="ru">
{%include "parts/meta.twig"%}
<body class="body magnets-body">

<div class="main" id="app">
  {%include "../blocks/browser-update/browser-update.twig"%}
  {%include "../blocks/header/header.twig" with {
    class: 'header-magnits'
  }%}

  {% include '../blocks/magnets/magnets.twig' with {
    class: 'magnets__bg-arbalet',
    title: 'Выбираете арбалет?',
    load: '<span>Скачайте бесплатный чек-лист</span> &laquo;Как выбрать арбалет для развлечений и&nbsp;отдыха&raquo;<span class="mod-star">*</span>',
    text: 'Инструкция от&nbsp;экспертов: на&nbsp;какие нюансы стоит обратить внимание и&nbsp;на&nbsp;какие 7&nbsp;вопросов нужно ответить, чтобы найти именно&nbsp;то, что вам нужно',
    arbalet: 'true'
  }%}

  {%include "../blocks/footer/footer.twig" with {
    class: 'footer-quiz'
  }%}
  {% include "../blocks/popups/conf.twig" %}
</div>

</body>
</html>
