<!doctype html>
<html lang="ru">
{% include "parts/meta.twig" %}
<body class="body">
<div class="main" id="app">
  {% include "../blocks/browser-update/browser-update.twig" %}
  {% include "../blocks/header/header.twig" %}
  {% include "../blocks/hero/hero.twig" %}
  {% include "../blocks/benefits-top/benefits-top.twig" %}
  {% include "../blocks/catalog/catalog.twig" %}
  {% include "../blocks/quiz/quiz.twig" with {
    bool: 'true'
  } %}
  {% include "../blocks/benefits-bottom/benefits-bottom.twig" %}
  {% include "../blocks/question/question.twig" %}
  {% include "../blocks/footer/footer.twig" %}

  {% include "../blocks/popups/call-me.twig" %}
  {% include "../blocks/popups/thanks.twig" %}
  {% include "../blocks/popups/card.twig" %}
  {% include "../blocks/popups/end-quiz.twig" %}
  {% include "../blocks/popups/details.twig" %}
  {% include "../blocks/popups/conf.twig" %}
</div>

</body>
</html>
