<!doctype html>
<html lang="ru">
{% include "parts/meta.twig" %}
<body class="body magnets-body">
<div class="main" id="app">
  {% include "../blocks/browser-update/browser-update.twig" %}
  {% include "../blocks/header/header.twig" with {
    class: 'header-magnits'
  } %}

  {% include '../blocks/magnets/magnets.twig' with {
    class: 'magnets__bg-pistol',
    title: 'Выбираете пневматический пистолет?',
    load: '<span>Скачайте бесплатный чек-лист</span> &laquo;Как выбрать пневматический пистолет. 6&nbsp;вещей, на&nbsp;которые стоит обратить внимание, прежде, чем отдать деньги&raquo;<span class="mod-star">*</span>',
    text: 'С&nbsp;ним вы&nbsp;легко найдёте пистолет по&nbsp;руке и&nbsp;бюджету. Без разочарований и&nbsp;лишних трат',
    footnote: '',
    pistol: 'true'
  } %}

  {% include "../blocks/footer/footer.twig" with {
    class: 'footer-magnets'
  } %}
  {% include "../blocks/popups/conf.twig" %}
</div>

</body>
</html>
