<!doctype html>
<html lang="ru">
{% include "parts/meta.twig" %}
<body class="body">


<div class="main" id="app">
  {% include "../blocks/browser-update/browser-update.twig" %}
  {% include "../blocks/header/header.twig" with {
    class: 'header-magnits'
  } %}
  {% include "../blocks/quiz/quiz.twig" with {
    class: 'quiz-magnit'
  } %}
  {% include "../blocks/footer/footer.twig" with {
    class: 'footer-quiz'
  } %}
  {% include "../blocks/popups/end-quiz.twig" %}
  {% include "../blocks/popups/conf.twig" %}
</div>

</body>
</html>
