<section class="benefits-bottom">
  <div class="container">

    <div class="benefits-bottom__title">
      <p>Почему <span>«Аргумент»‎</span> выбирают сами и&nbsp;рекомендуют друзьям</p>
    </div>

    <div class="benefits-bottom__items">
      <div class="benefits-bottom__item">
        <div class="benefits-bottom__text">
          <p class="benefits-bottom__num">01</p>
          <p class="benefits-bottom__item-title">Ассортимент укомплектован по&nbsp;принципу лучшего соотношения цены&nbsp;/ качества</p>
          <p class="benefits-bottom__description">Не&nbsp;берём количеством и&nbsp;не&nbsp;предлагаем самое дешёвое. Специально отбираем самые удачные модели как у&nbsp;именитых HATSAN, GAMO, Gletcher, Baikal (Ижевский оружейный), так и&nbsp;у&nbsp;менее известных тайваньских и&nbsp;китайских производителей. Материалы разнообразны: от&nbsp;пластика до&nbsp;сплавов и&nbsp;оружейной стали</p>
        </div>
      </div>
      <div class="benefits-bottom__item">
        <div class="benefits-bottom__text">
          <p class="benefits-bottom__num">02</p>
          <p class="benefits-bottom__item-title">Железная гарантия до&nbsp;18&nbsp;месяцев от&nbsp;всех производителей</p>
          <p class="benefits-bottom__description">Для вас это означает, что на&nbsp;протяжении всего гарантийного срока можно бесплатно заменить пневматику при выявлении брака или устранить неисправность в&nbsp;случае поломки. Просто позвоните нам&nbsp;&mdash; и&nbsp;мы&nbsp;решим проблему</p>
        </div>
      </div>
      <div class="benefits-bottom__item">
        <div class="benefits-bottom__text">
          <p class="benefits-bottom__num">03</p>
          <p class="benefits-bottom__item-title">Быстрая доставка в&nbsp;целости и&nbsp;сохранности: вручают прямо в&nbsp;руки</p>
          <p class="benefits-bottom__description">Сотрудничаем только с&nbsp;надёжной курьерской службой, которая доставляет наши товары, в&nbsp;среднем за&nbsp;24-36&nbsp;часов. И&nbsp;даже коробка не&nbsp;мнётся.</p>
        </div>
      </div>
    </div>

  </div>
</section>