.benefits-bottom {
  display:         flex;
  justify-content: center;
  padding-bottom:  627px;

  background:      url("../assets/img/benefits/item-1.png") 752px 150px no-repeat,
                   url("../assets/img/benefits/item-2.png") 0 874px no-repeat,
                   url("../assets/img/benefits/item-3.png") 576px 1678px no-repeat;

  @include w-from(2560px) {
    background:      url("../assets/img/benefits/item-1.png") 1040px 150px/1100px no-repeat,
                     url("../assets/img/benefits/item-2.png") 0 865px/1350px no-repeat,
                     url("../assets/img/benefits/item-3.png") 1000px 1678px no-repeat;
  }

  @include w-to(1920px) {
    padding-bottom: 536px;
    background:     url(../assets/img/benefits/item-1.png) 512px 121px no-repeat,
                    url(../assets/img/benefits/item-2.png) -240px 845px no-repeat,
                    url(../assets/img/benefits/item-3.png) 335px 1649px no-repeat;
  }
  @include w-range(1700px, 1920px) {
    padding-bottom: 536px;
    background: url(../assets/img/benefits/item-1.png) 712px 121px no-repeat,
      url(../assets/img/benefits/item-2.png) -240px 845px no-repeat,
      url(../assets/img/benefits/item-3.png) 635px 1649px no-repeat;
  }
  @include w-to(1440px) {
    background:     url(../assets/img/benefits/item-1.png) 329px 162px/792px no-repeat,
                    url(../assets/img/benefits/item-2.png) -260px 782px/882px no-repeat,
                    url(../assets/img/benefits/item-3.png) 300px 1392px/ 720px no-repeat;
    padding-bottom: 321px;
  }
  @include w-range(1125px, 1440px) {
    background: url(../assets/img/benefits/item-1.png) 470px 162px/792px no-repeat,
    url(../assets/img/benefits/item-2.png) -260px 782px/882px no-repeat,
    url(../assets/img/benefits/item-3.png) 450px 1392px/ 720px no-repeat;
  }
  @include w-to(1024px) {
    background:     url(../assets/img/benefits/item-1.png) 324px 255px/515px no-repeat,
                    url(../assets/img/benefits/item-2.png) -130px 730px/585px no-repeat,
                    url(../assets/img/benefits/item-3.png) 318px 1237px/ 450px no-repeat;
    padding-bottom: 173px;
  }
  @include w-range(950px, 1024px) {
    background: url(../assets/img/benefits/item-1.png) 460px 255px/515px no-repeat,
      url(../assets/img/benefits/item-2.png) -130px 730px/585px no-repeat,
      url(../assets/img/benefits/item-3.png) 460px 1237px/ 450px no-repeat;
  }
  @include w-range(855px, 950px) {
    background: url(../assets/img/benefits/item-1.png) 395px 255px/515px no-repeat,
      url(../assets/img/benefits/item-2.png) -130px 730px/585px no-repeat,
      url(../assets/img/benefits/item-3.png) 395px 1237px/ 450px no-repeat;
  }
  @include w-range(800px, 855px) {
    background: url(../assets/img/benefits/item-1.png) 345px 255px/515px no-repeat,
    url(../assets/img/benefits/item-2.png) -130px 730px/585px no-repeat,
    url(../assets/img/benefits/item-3.png) 345px 1237px/ 450px no-repeat;
  }
  @include w-to(768px) {
    background:     url(../assets/img/benefits/item-1.png) 50% 73px/515px no-repeat,
                    url(../assets/img/benefits/item-2.png) -118px 883px/585px no-repeat,
                    url(../assets/img/benefits/item-3.png) 50% 1672px/ 450px no-repeat;
    padding-bottom: 110px;
  }
  @include w-to(425px) {
    background: url(../assets/img/benefits/item-1.png) 50% 73px/515px no-repeat,
                url(../assets/img/benefits/item-2.png) -60px 970px/430px no-repeat,
                url(../assets/img/benefits/item-3.png) 50% 1745px/370px no-repeat;
  }


  &__title {
    font-family:    $font-family-2;
    font-weight:    500;
    font-size:      65px;
    line-height:    80px;
    text-align:     center;
    text-transform: uppercase;
    color:          white;
    max-width:      895px;
    width:          100%;
    margin:         0 auto 90px;
    @include w-to(1920px) {
      font-size:     55px;
      line-height:   70px;
      max-width:     860px;
      margin-bottom: 80px;
    }
    @include w-to(1440px) {
      font-size:     45px;
      line-height:   65px;
      max-width:     710px;
      margin-bottom: 64px;
    }
    @include w-to(768px) {
      font-size:     25px;
      line-height:   40px;
      width:         360px;
      margin-left:   -10px;
      margin-bottom: 355px;
    }
    @include w-to(425px) {
      max-width: 300px;
      margin-left: 0;
    }

    span {
      color: #CCB780;
    }
  }

  &__num {
    font-family: $font-family-1;
    font-size:   32px;
    line-height: 48px;
    color:       #CCB780;
    @include w-to(1440px) {
      font-size: 24px;
    }
    @include w-to(768px) {
      font-size:   24px;
      line-height: 20px;
    }
  }

  &__item-title {
    font-family:    $font-family-2;
    font-style:     normal;
    font-weight:    500;
    font-size:      32px;
    line-height:    48px;
    text-transform: uppercase;
    color:          #FFFFFF;
    margin-bottom:  32px;
    @include w-to(1920px) {
      font-size:     27px;
      margin-bottom: 24px;
    }
    @include w-to(1440px) {
      font-size:     24px;
      line-height:   40px;
      margin-bottom: 31px;
    }
    @include w-to(768px) {
      font-size:   20px;
      line-height: 32px;
    }
  }

  &__description {
    font-family:    $font-family-1;
    font-style:     normal;
    font-weight:    300;
    font-size:      18px;
    line-height:    40px;
    letter-spacing: 0.01em;
    color:          #FFFFFF;
    @include w-to(1440px) {
      font-size:   16px;
      line-height: 32px;
    }
    @include w-to(768px) {
      font-size: 14px;
    }
  }

  &__items {
    display:        flex;
    flex-direction: column;
  }

  &__img {
    position: absolute;
    top:      0;
  }

  &__item {
    position: relative;

    &:first-child {
      padding-top:   20px;
      max-width:     445px;
      width:         100%;
      margin-bottom: 200px;
      @include w-to(1920px) {
        margin-bottom: 209px;
      }

      .benefits-bottom__description {
        max-width: 405px;
      }

      @include w-to(1440px) {
        padding-left:  45px;
        max-width:     366px;
        margin-bottom: 193px;
      }
      @include w-to(1024px) {
        padding-left:  30px;
        margin-bottom: 92px;
      }
      @include w-to(768px) {
        padding-left:  0;
        padding-top:   10px;
        margin-bottom: 420px;
      }

      .benefits-bottom__num {
        @include w-to(1920px) {
          margin-bottom: 1px;
        }
        @include w-to(1440px) {
          margin-bottom: -5px;
        }
        @include w-to(1024px) {
          margin-bottom: -5px;
        }
        @include w-to(768px) {
          margin-bottom: 10px;
        }
      }

      .benefits-bottom__item-title {
        margin-bottom: 29px;
        @include w-to(1920px) {
          max-width:     405px;
          margin-bottom: 23px;
        }
        @include w-to(1440px) {
          max-width:     345px;
          margin-bottom: 32px;
        }
        @include w-to(1024px) {
          max-width:     340px;
          margin-bottom: 32px;
        }
      }
    }

    &:nth-child(2) {
      max-width:     405px;
      width:         100%;
      align-self:    flex-end;
      margin-bottom: 200px;
      @include w-to(1920px) {
        margin-bottom: 208px;
      }

      .benefits-bottom__text {
        margin-left: -40px;
        max-width:   420px;
        @include w-to(1920px) {
          max-width: 410px;
        }
        @include w-to(425px) {
          margin-left: 0;
        }
      }

      @include w-to(1440px) {
        margin-right:  90px;
        max-width:     290px;
        margin-bottom: 161px;
      }
      @include w-to(1024px) {
        margin-right:  0;
        margin-bottom: 93px;
      }
      @include w-to(768px) {
        max-width:     300px;
        .benefits-bottom__num {
          margin-bottom: 11px;
        }
        .benefits-bottom__item-title {
          max-width:     205px;
          margin-bottom: 19px;
        }
        .benefits-bottom__description {
          max-width: 300px;
        }
        margin-bottom: 448px;
      }
    }

    &:last-child {
      max-width: 380px;
      width:     100%;

      .benefits-bottom__img {
        top:  81px;
        left: 170px;
      }

      @include w-to(1920px) {
        .benefits-bottom__item-title {
          max-width: 350px;
        }
      }
      @include w-to(1440px) {
        padding-left: 45px;
        max-width:    315px;
      }
      @include w-to(1024px) {
        padding-left: 30px;
      }
      @include w-to(768px) {
        padding-left: 0;
        .benefits-bottom__num {
          margin-bottom: 10px;
        }
        .benefits-bottom__item-title {
          max-width:     255px;
          margin-bottom: 18px;
        }
        .benefits-bottom__description {
          max-width: 271px;
        }
      }
    }

  }

}