{% set meta = {
  title: 'Аргумент',
  description: '...',
  keywords: '...',
} %}

<head>
  <meta charset="utf-8">
  <meta content="ie=edge" http-equiv="x-ua-compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">

  <title>{{meta.title}}</title>
  <meta name="description" content="{{meta.description}}">
  <meta name="keywords" content="{{meta.description}}">

  <meta content="#868686" name="theme-color">

  <link href="assets/favicon/favicon.png" rel="icon" sizes="16x16" type="image/png">

  <link href="styles/main.css" rel="stylesheet" type="text/css">

  <script src="scripts/vendor/jquery-3.4.1.min.js"></script>
  <script src="scripts/vendor/vue.js"></script>
  <script src="scripts/vendor/slick.min.js"></script>
  <script src="scripts/vendor/vuelidate.min.js"></script>
  <script src="scripts/vendor/validators.min.js"></script>
  <script src="scripts/vendor/v-mask.min.js"></script>
  <script src="scripts/bundle.js"></script>

</head>
