.magnets {
  display:         flex;
  justify-content: center;
  margin-top:      -64px;

  @include w-to(1440px) {
    margin-top: -28px;
  }
  @include w-to(1024px) {
    margin-top: -88px;
  }
  @include w-to(768px) {
    margin-top: -100px;
  }

  .container {
    @include w-to(1024px) {
      max-width: 450px;
    }
    @include w-to(768px) {
      max-width: 340px;
    }
    @include w-to(425px) {
      max-width: 280px;
    }

  }

  &__title {
    font-family:    $font-family-2;
    font-style:     normal;
    font-weight:    500;
    font-size:      60px;
    line-height:    75px;
    text-transform: uppercase;
    color:          #FFFFFF;
    max-width:      455px;
    width:          100%;
    margin-bottom:  40px;

    @include w-to(1920px) {
      font-size:   55px;
      line-height: 70px;
    }
    @include w-to(1440px) {
      font-size:     45px;
      line-height:   65px;
      margin-bottom: 29px;
    }
    @include w-to(1024px) {
      margin-bottom: 318px;
    }
    @include w-to(768px) {
      font-size:     25px;
      line-height:   40px;
      max-width:     195px;
      margin-bottom: 246px;
    }
  }

  &__load {
    font-family:   $font-family-1;
    font-style:    normal;
    font-weight:   300;
    font-size:     24px;
    line-height:   40px;
    color:         white;
    max-width:     585px;
    width:         100%;
    margin-bottom: 20px;
    @include w-to(1440px) {
      font-size:     18px;
      line-height:   32px;
      max-width:     440px;
      margin-bottom: 30px;
    }
    @include w-to(768px) {
      font-size: 16px;
      max-width: 290px;
    }

    span:first-child {
      color: #FCDF7E;
    }
  }

  &__text {
    font-family:   $font-family-1;
    font-style:    normal;
    font-weight:   300;
    font-size:     16px;
    line-height:   32px;
    color:         #FFFFFF;
    margin-bottom: 50px;
    @include w-to(1920px) {
      margin-bottom: 40px;
    }
    @include w-to(1440px) {
      max-width:     340px;
      margin-bottom: 62px;
    }
    @include w-to(1024px) {
      margin-bottom: 45px;
    }
  }

  &__submit {
    font-family:   $font-family-1;
    font-style:    normal;
    font-weight:   300;
    font-size:     16px;
    line-height:   32px;
    color:         #FFFFFF;
    margin-bottom: 33px;
    @include w-to(1440px) {
      max-width: 100%;
    }

    p:first-child {
      padding-left:  30px;
      margin-bottom: 10px;
    }
  }

  &__form {
    display:     flex;
    align-items: flex-start;
    @include w-to(1024px) {
      flex-direction: column;
      width:          100%;
    }
  }

  &__input {
    margin-right: 30px;
    display:      flex;
    align-items:  center;
    padding-left: 30px;

    input {
      font-family: $font-family-1;
      font-style:  normal;
      font-weight: 300;
      font-size:   18px;
      line-height: 100%;
      color:       #868686;
      margin-left: 14px;
    }

    @include w-to(1024px) {
      margin-right:  0;
      margin-bottom: 40px;
    }
    @include w-to(425px) {
      &.input {
        max-width: 250px;
      }
    }
  }

  &__btn.btn {
    font-family:    $font-family-1;
    font-style:     normal;
    font-weight:    bold;
    font-size:      16px;
    line-height:    100%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color:          #343235;
    text-shadow:    0 1px 0 rgba(255, 255, 255, 0.6);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    @include w-to(1440px) {
      max-width: 345px;
    }
    @include w-to(1024px) {
      max-width: 100%;
    }

    img {
      width:        10px;
      height:       16px;
      margin-right: 20px;
    }
  }

  &__agreement {
    font-family:   $font-family-1;
    font-style:    normal;
    font-weight:   300;
    font-size:     12px;
    line-height:   20px;
    text-align:    center;
    color:         #FFFFFF;
    max-width:     285px;
    width:         100%;
    margin:        0 auto;
    margin-bottom: 37px;
    @include w-to(1440px) {
      margin-bottom: 30px;
    }
    @include w-to(1024px) {
      margin-bottom: 34px;
    }
    @include w-to(768px) {
      font-size:     12px;
      line-height:   20px;
      max-width:     285px;
      margin-bottom: 41px;
    }

    p {
      @include w-to(1440px) {
        width:        100%;
        max-width:    100%;
        margin-right: -225px;
        display:      inline-block;
      }
      @include w-to(1024px) {
        margin-right: 0;
      }
      @include w-to(768px) {
        display: block;
      }
    }

    a {
      color: #1375F8;
    }
  }

  &__footnote {
    font-family:   $font-family-1;
    font-style:    normal;
    font-weight:   100;
    font-size:     14px;
    line-height:   24px;
    color:         #FFFFFF;
    max-width:     376px;
    width:         100%;
    opacity:       0.5;
    margin-bottom: 149px;
    @include w-to(1440px) {
      max-width:     366px;
      margin-bottom: 156px;
    }
    @include w-to(1024px) {
      margin-bottom: 112px;
    }
    @include w-to(768px) {
      margin-bottom: 122px;
    }
  }

  &__bg {
    &-pistol {
      &:after {
        content:    '';
        position:   absolute;
        width:      906px;
        height:     603px;
        background: url("../assets/img/magnets/pistol.png") no-repeat;
        z-index:    -1;
        top:        120px;
        right:      120px;
        @include w-to(1920px) {
          width:      697px;
          height:     542px;
          right:      42px;
          background: url("../assets/img/magnets/pistol-1440.png") no-repeat;
        }
        @include w-to(1440px) {
          width:         495px;
          height:        384px;
          right:         32px;
          padding-right: 10px;
          top:           140px;
          background:    url("../assets/img/magnets/pistol-768.png") no-repeat;
        }
        @include w-to(1024px) {
          width:         495px;
          height:        384px;
          right:         auto;
          padding-right: 10px;
          top:           315px;
          background:    url("../assets/img/magnets/pistol-425.png") no-repeat;
        }
        @include w-to(768px) {
          width:         383px;
          height:        297px;
          right:         auto;
          padding-right: 23px;
          top:           225px;
          background:    url("../assets/img/magnets/pistol-m.png") no-repeat;
        }
        @include w-to(425px) {
          width: 100%;
          background:    url("../assets/img/magnets/pistol-m.png") center 35px/100% no-repeat;
          padding-right: 0;
        }
      }
    }

    &-arbalet {
      .magnets__title {
        @include w-to(1920px) {
          font-size:   60px;
          line-height: 75px;
        }
        @include w-to(1440px) {
          font-size:     45px;
          line-height:   65px;
          max-width:     220px;
          margin-bottom: 39px;
        }
        @include w-to(1024px) {
          margin-bottom: 368px;
          max-width:     420px;
        }
        @include w-to(768px) {
          font-size:     25px;
          line-height:   40px;
          margin-bottom: 327px;
        }
      }

      .magnets__load {
        max-width: 495px;
        @include w-to(1440px) {
          max-width: 425px;
        }
        @include w-to(768px) {
          max-width: 330px;
        }
      }

      .magnets__text {
        max-width:     575px;
        margin-bottom: 40px;
        @include w-to(1440px) {
          max-width: 430px;
        }
        @include w-to(1024px) {
          max-width: 435px;
        }
        @include w-to(768px) {margin-bottom: 31px;}
      }

      .magnets__agreement {
        margin-bottom: 154px;
      }

      &:after {
        content:         '';
        position:        absolute;
        width:           920px;
        height:          603px;
        background:      url("../assets/img/magnets/arbalet.png") no-repeat;
        z-index:         -1;
        top:             120px;
        right:           120px;
        background-size: cover;
        @include w-from(2560px) {
          right: 380px;
        }
        @include w-to(1920px) {
          width:      758px;
          height:     512px;
          background: url("../assets/img/magnets/arbalet-1920.png") no-repeat;
          top:        151px;
          right:      39px;
        }
        @include w-to(1440px) {
          width:         510px;
          height:        425px;
          padding-right: 63px;
          background:    url("../assets/img/magnets/arbalet-1440.png") no-repeat;
          top:           140px;
          right:         30px;
          z-index:       1;
        }
        @include w-to(1024px) {
          width:       510px;
          height:      425px;
          background:  url("../assets/img/magnets/arbalet-768.png") no-repeat;
          top:         194px;
          right:       auto;
          z-index:     1;
          margin-left: 29px;
        }
        @include w-to(768px) {
          width:           360px;
          height:          340px;
          background:      url("../assets/img/magnets/arbalet-425.png") no-repeat;
          top:             179px;
          right:           auto;
          z-index:         1;
          background-size: cover;
          margin-left:     0;
        }
        @include w-to(425px) {
          padding-right: 0;
          width: 320px;
        }
      }
    }

    &-all {
      .magnets__title {
        max-width:     560px;
        margin-bottom: 38px;
        @include w-to(1920px) {
          font-size:   60px;
          line-height: 75px;
        }
        @include w-to(1440px) {
          font-size:   45px;
          line-height: 65px;
          max-width:   450px;
        }
        @include w-to(1024px) {
          margin-bottom: 313px;
        }
        @include w-to(768px) {
          font-size:     25px;
          line-height:   40px;
          max-width:     230px;
          margin-bottom: 305px;
        }
      }

      .magnets__text {
        display: none;
      }

      .magnets__load {
        margin-bottom: 41px;
        @include w-to(768px) {
          max-width: initial;
        }
      }

      .magnets__agreement {
        margin-bottom: 155px;
      }

      &:after {
        content:    '';
        position:   absolute;
        width:      730px;
        height:     503px;
        background: url("../assets/img/magnets/all.png") no-repeat;
        z-index:    -1;
        top:        220px;
        right:      120px;
        @include w-to(1920px) {
          width:      758px;
          height:     512px;
          background: url("../assets/img/magnets/all-1920.png") no-repeat;
          top:        211px;
          right:      -52px;
        }
        @include w-to(1440px) {
          width:      510px;
          height:     425px;
          background: url("../assets/img/magnets/all-1440.png") no-repeat;
          top:        203px;
          right:      0;
          z-index:    1;
        }
        @include w-to(1024px) {
          width:       510px;
          height:      425px;
          background:  url("../assets/img/magnets/all-1024.png") no-repeat;
          top:         439px;
          right:       auto;
          z-index:     1;
          margin-left: 31px;
        }
        @include w-to(768px) {
          width:           364px;
          height:          211px;
          background:      url("../assets/img/magnets/all-768.png") no-repeat;
          top:             341px;
          right:           auto;
          z-index:         1;
          background-size: cover;
          margin-left:     7px;
        }
        @include w-to(425px) {
          width: 100%;
          background:      url("../assets/img/magnets/all-768.png") center center/90% no-repeat;
          margin-left: 0;
        }
      }
    }
  }
}