<div class="magnets {{ class }}">
  <div class="container">
    <div class="magnets__content">
      <div class="magnets__title">
        <p>{{ title }}</p>
      </div>
      <p class="magnets__load">{{ load }}</p>
      <p class="magnets__text">{{ text }}</p>
    </div>
    <div class="magnets__submit">
      {% if cat == 'true' %}
        <p>Куда выслать каталог?</p>
      {% else %}
        <p>Скачать чек-лист в PDF</p>
      {% endif %}
      <form action="" class="magnets__form">
        <div class="magnets__input input" :class="{'invalid': $v.phone.$error}">
          <img src="assets/img/icons/icon-call-2.png" alt="arrow">
          <input
            type="text"
            name="phone"
            placeholder="+375 (__)___-__-__"
            v-mask="mask"
            v-model="phone"
            @blur="$v.phone.$touch()"
          >
          <div class="invalid-text" v-if="!$v.phone.required && $v.phone.$error"><span>Обязательное поле</span></div>
        </div>

        {% if pistol == 'true' %}
          <a :href="$v.phone.$invalid ? '#' : '/Argument/assets/other/pistol.pdf'"
            class="magnets__btn btn js-thanks"
            :download="!$v.phone.$invalid ? 'file.pdf' : false"
            @click="sendForm($event)"
          >
            <img src="assets/img/icons/arrow.png" alt="arrow">
              Получить чек-лист
          </a>
          {% elseif arbalet == 'true' %}
            <a :href="$v.phone.$invalid ? '#' : '/Argument/assets/other/Arbalet.pdf'"
              class="magnets__btn btn js-thanks"
              :download="!$v.phone.$invalid ? 'file.pdf' : false"
              @click="sendForm($event)"
            >
              <img src="assets/img/icons/arrow.png" alt="arrow">
              Получить чек-лист
            </a>
          {% elseif cat == 'true' %}
            <a :href="$v.phone.$invalid ? '#' : '/Argument/assets/other/all.pdf'"
              class="magnets__btn btn js-thanks"
              :download="!$v.phone.$invalid ? 'file.pdf' : false"
              @click="sendForm($event)"
            >
              <img src="assets/img/icons/arrow.png" alt="arrow">
              Получить подборку
            </a>
        {% endif %}

      </form>
    </div>
    <div class="magnets__agreement">
      <p>Нажимая на&nbsp;кнопку, вы&nbsp;даёте согласие на&nbsp;обработку персональных данных и&nbsp;соглашаетесь с
        <a href="#" @click.prevent="conf = true">Политикой конфиденциальности</a></p>
    </div>
    {% if footnote != null %}
      <div class="magnets__footnote">
        <p>
          <span class="mod-star">*</span>Чек-лист сформирован на&nbsp;основании опроса покупателей второго или третьего экземпляра пневматики
        </p>
      </div>
    {% endif %}
  </div>
</div>