<header class="header {{ class }}">
  <div class="container">
    <div class="header__logo">
      <a href="/Argument" class="logo"><img src="assets/img/logo.svg" alt="Аргумент"></a>
      <p class="header__text">магазин пневматики в Беларуси</p>
    </div>
    <ul class="header__menu">
      <li class="header__item" @click="scrollToCatalog(1)"><a href="#">Пистолеты</a></li>
      <li class="header__item" @click="scrollToCatalog(2)"><a href="#">Винтовки</a></li>
      <li class="header__item" @click="scrollToCatalog(4)"><a href="#">Луки и арбалеты</a></li>
    </ul>
    <div class="header__num">
      <img src="assets/img/icons/icon-call.svg" alt="call">
      <p><a href="tel:375 33 356-95-87" style="text-decoration: none;">375 33 356-95-87</a></p>
      <div class="header__burger" @click="showMenu = !showMenu"><img src="assets/img/icons/burger-menu.png" alt="menu"></div>
    </div>

    <div class="header__mob-menu" v-if="showMenu">
      <ul class="header__menu">
        <li class="header__item" @click="scrollToCatalog(1)"><a href="#">Пистолеты</a></li>
        <li class="header__item" @click="scrollToCatalog(2)"><a href="#">Винтовки</a></li>
        <li class="header__item" @click="scrollToCatalog(4)"><a href="#">Луки и арбалеты</a></li>
      </ul>

      <a href="mailto:argumentguns@yandex.ru" style="text-decoration: none;" class="header__mail">
        <img src="assets/img/icons/email.png" alt="mail">
        <p>argumentguns@yandex.ru</p>
      </a>

      <div class="header__double-num">
        <img src="assets/img/icons/icon-call.svg" alt="call">
        <p><a style="text-decoration: none;" href="tel:375 33 356-95-87">375 33 356-95-87</a></p>
      </div>

      <div class="header__social">
        <a href="https://www.youtube.com/channel/UCL_JEvMzLL54y0I5TkhXEhw" target="_blank" class="header__icon">
          <img src="assets/img/icons/utube.svg" alt="youtube">
        </a>
        <a href="https://www.instagram.com/argument_guns/" target="_blank" class="header__icon">
          <img src="assets/img/icons/insta.svg" alt="insta">
        </a>
        <a href="https://vk.com/argument_guns" target="_blank" class="header__icon">
          <img src="assets/img/icons/vk.svg" alt="vk">
        </a>
      </div>
    </div>
  </div>
</header>