.header {
  width:           100%;
  display:         flex;
  justify-content: center;
  padding-top:     69px;
  padding-bottom:  180px;

  background: url('../assets/img/topTree-l-1920.png') left 0 no-repeat,
              url('../assets/img/topTree-r-1920.png') right 0 no-repeat;

  @include w-to(1920px) {
    background: url('../assets/img/topTree-l-1440.png') left 0 no-repeat,
                url('../assets/img/topTree-r-1440.png') right 0 no-repeat;
  }

  @include w-to(1440px) {
    padding-top:    49px;
    padding-bottom: 154px;
    background: url('../assets/img/topTree-l-768.png') left 0 no-repeat,
                url('../assets/img/topTree-r-768.png') right 0 no-repeat;
  }
  @include w-to(1024px) {
    background:none;
  }
  @include w-to(768px) {
    padding-top: 31px;
  }

  .container {
    display:         flex;
    justify-content: space-between;
    position: relative;
  }

  &__menu {
    display:         flex;
    justify-content: space-between;
    align-items:     flex-start;
    max-width:       450px;
    width:           100%;
    flex-grow:       1;
    font-weight:     100;
    margin-left:     50px;
    height:          100%;
    @include w-to(1440px) {
      max-width:      370px;
      margin-left:    10px;
      letter-spacing: 1px;
    }
    @include w-to(1024px) {
      display: none;
    }

    li {
      padding-top: 7px;
    }
  }

  &__text {
    font-family:    $font-family-1;
    font-size:      11px;
    line-height:    100%;
    letter-spacing: 0.6px;
    color:          #868686;
    font-weight:    600;
  }

  &__item a {
    font-family:     $font-family-1;
    font-size:       12px;
    line-height:     100%;
    letter-spacing:  2px;
    text-transform:  uppercase;
    color:           #CCB780;
    text-decoration: none;
    font-weight:     400;

    @include w-to(1440px) {
      font-size:   11px;
      font-weight: 500;
    }
  }

  &__num {
    font-family:    $font-family-2;
    font-style:     normal;
    font-weight:    500;
    font-size:      24px;
    line-height:    100%;
    text-align:     right;
    letter-spacing: 2px;
    text-transform: uppercase;
    color:          #FFFFFF;
    display:        flex;
    align-items:    center;
    margin-top:     -17px;
    @include w-to(1440px) {
      font-size:      20px;
      letter-spacing: 2px;
    }
    @include w-to(768px) {
      img[alt='call'], p {
        display: none;
      }
    }

    img {
      width:        20px;
      height:       20px;
      margin-right: 10px;
    }
  }

  &__logo {
    @include w-to(1440px) {
      max-width: 208px;
      width:     100%;
    }

    .logo {
      margin-bottom: 15px;
    }
  }

  &__burger {
    display: none;
    @include w-to(1024px) {
      display: block;
    }

    img {
      @include w-to(1024px) {
        width:  30px;
        height: 16px;
        margin: 0 0 0 30px;
      }
      @include w-to(768px) {
        padding-bottom: 4px;
      }
    }
  }

  &-magnits {
    .header__menu {
      display: none;
    }
    .container {
      @include w-to(1024px) {
        max-width: 630px;
      }
      @include w-to(768px) {
        max-width: 340px;
      }
      @include w-to(768px) {
        max-width: 280px;
      }
    }
  }

  &__mob-menu {
    display: none;
  }
  
  @include w-to(1024px) {
    &__mob-menu {
      position: absolute;
      top: 36px;
      left: 0;
      width: 100%;
      background: white;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 70px;
      z-index: 500;

      .header {
        &__menu {
          display: flex;
          flex-direction: column;
          align-items: center;
          max-width: 100%;
          width: 100%;
          margin: 0;
          padding: 0;
          li {
            padding-top: 0;
            margin-bottom: 50px;

            &:last-child {
              margin-bottom: 100px;
            }
          }
          a {
            font-family: $font-family-1;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 100%;
            text-align: center;
            color: #0088CC;
            text-transform: capitalize;
          }
        }
        &__mail, &__double-num {
          font-family: $font-family-2;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 100%;
          color: #343235;
          width: 100%;
          display: flex;
          justify-content: center;
        }
        &__mail {
          display: flex;
          align-items: center;
          margin-bottom: 25px;
          img {
            width: 20px;
            height: 16px;
            margin-right: 10px;
          }
        }
        &__double-num {
          letter-spacing: 2px;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          margin-bottom: 50px;
          img {
            width: 20px;
            height: 20px;
            margin-right: 10px;
          }
        }
        &__social {
          display: flex;
          justify-content: space-between;
          max-width: 210px;
          width: 100%;
          margin-bottom: 40px;
          .header__icon {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid rgba(134, 134, 134, 0.2);
          }
        }
      }
    }
  }
}